workflows/InvoiceIngestion.json
{
  "name": "Invoice Ingestion",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "={{ $json.body.schema }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -544,
        480
      ],
      "id": "ae074d2f-d9e6-41d5-8f39-68383d115521",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn [{\n  json: {\n    total_files: items.length,\n    batch_name: 'Batch ' + new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        624
      ],
      "id": "7cce20ce-1940-4623-8760-11a86c745854",
      "name": "Prepare Batch Data"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "workflow_batches",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "total_files": "={{ $json.total_files }}",
            "batch_name": "={{ $json.batch_name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "batch_name",
              "displayName": "batch_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_files",
              "displayName": "total_files",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "completed_files",
              "displayName": "completed_files",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        704
      ],
      "id": "9ac1df32-ae15-4bd3-b6b2-0e4cae02210e",
      "name": "Create Batch Record",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        512,
        640
      ],
      "id": "edbd9cea-4a1f-448d-9326-826c0ca6ad98",
      "name": "Merge Batch ID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO\n$$\nBEGIN\n\n    WHILE (SELECT COUNT(*) FROM {{ $json.schema }}.invoices WHERE is_done <> TRUE) <> 0\n    LOOP\n        PERFORM pg_sleep(2);\n    END LOOP;\nEND\n$$ LANGUAGE plpgsql;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        800
      ],
      "id": "3c448acc-a535-4605-84ce-01f534109e53",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n\"excelFolder\": \"{{ $json.body.excelFolder }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        928
      ],
      "id": "96b27056-1b89-4741-aadb-6c1cfc4c1b53",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        928
      ],
      "id": "f9b689a9-e91a-4d8f-aa3a-e9664d6bee86",
      "name": "Merge2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WKlvPCyp9aKNMs7j",
          "mode": "list",
          "cachedResultUrl": "/workflow/WKlvPCyp9aKNMs7j",
          "cachedResultName": "Invoice Extraction"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "batch_id": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1040,
        656
      ],
      "name": "Call My Sub-workflow1",
      "id": "e6fc030c-b415-4f1f-910d-b2bcf8bc756e",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        640
      ],
      "id": "040bda1d-b34b-44ff-8248-ab4716019347",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insert",
        "responseMode": "responseNode",
        "options": {
          "rawBody": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        480
      ],
      "id": "049d1250-30f8-493b-b8a2-33d92fb1e6f7",
      "name": "Webhook1",
      "webhookId": "ecb7626f-8968-4654-be8f-555b9f7f12f7"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const bin = item.binary?.data || {};\n\n  const directory = bin.directory || \"\";\n  const fileName  = bin.fileName  || \"\";\n\n  const path = directory\n    ? `${directory}/${fileName}`\n    : fileName;\n\n  const safeName = path\n    .replace(/^\\.+/, '')\n    .replace(/[\\\\/]+/g, '_')\n    || fileName;\n\n  return {\n    json: {\n      fileName: safeName,\n      directory,\n      path,\n    },\n    binary: {\n      ...item.binary,\n      data: {\n        ...bin,\n        fileName: safeName,\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        480
      ],
      "id": "16100c01-bad6-4aa3-be90-76d8c0679e8f",
      "name": "Extract File Info1"
    },
    {
      "parameters": {
        "jsCode": "function thaiToLatin(input) {\n  if (!input) return '';\n\n  const THAI_DIGITS = '๐๑๒๓๔๕๖๗๘๙';\n\n  const charMap = {\n    'ก': 'k','ข': 'kh','ฃ': 'kh','ค': 'kh','ฅ': 'kh','ฆ': 'kh',\n    'ง': 'ng',\n    'จ': 'ch','ฉ': 'ch','ช': 'ch','ซ': 's','ฌ': 'ch',\n    'ญ': 'y',\n    'ฎ': 'd','ฏ': 't',\n    'ฐ': 'th','ฑ': 'th','ฒ': 'th','ถ': 'th','ท': 'th','ธ': 'th',\n    'ณ': 'n','ด': 'd','ต': 't','น': 'n',\n    'บ': 'b','ป': 'p','ผ': 'ph','ฝ': 'f','พ': 'ph','ฟ': 'f','ภ': 'ph',\n    'ม': 'm','ย': 'y','ร': 'r','ล': 'l','ว': 'w',\n    'ศ': 's','ษ': 's','ส': 's','ห': 'h','ฮ': 'h',\n    'อ': 'o',\n    'ะ': 'a','ั': 'a','า': 'a','ำ': 'am',\n    'ิ': 'i','ี': 'i',\n    'ุ': 'u','ู': 'u',\n    'ึ': 'ue','ื': 'ue',\n    'เ': 'e','แ': 'ae','โ': 'o','ใ': 'ai','ไ': 'ai',\n    '่': '', '้': '', '๊': '', '๋': '',\n    '์': '', 'ํ': '', 'ฯ': '', 'ๆ': '',\n    'ฺ': '', '฿': '',\n  };\n\n  let out = '';\n\n  for (const ch of input.normalize('NFC')) {\n\n    // English / number\n    if (/^[a-zA-Z0-9]$/.test(ch)) {\n      out += ch;\n      continue;\n    }\n\n    // Thai digit → western digit\n    const idx = THAI_DIGITS.indexOf(ch);\n    if (idx !== -1) {\n      out += idx;\n      continue;\n    }\n\n    // Thai character mapping\n    if (ch in charMap) {\n      out += charMap[ch];\n      continue;\n    }\n\n    // Whitespace\n    if (/\\s/.test(ch)) {\n      out += ' ';\n      continue;\n    }\n\n    // others → space\n    out += ' ';\n  }\n\n  return out.replace(/\\s+/g, ' ').trim();\n}\n\n// -------------------------------------\n// slugPart\n// -------------------------------------\nfunction slugPart(part) {\n  const latin = thaiToLatin(part || '');\n  return latin\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .slice(0, 8) || 'p';\n}\n\n// -------------------------------------\n// FNV-1a 32-bit hash (no crypto needed)\n// -------------------------------------\nfunction fnv1a(str) {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = (hash >>> 0) * 0x01000193; // 16777619\n  }\n  return (hash >>> 0).toString(16).padStart(8, '0');\n}\n\n// -------------------------------------\n// MAIN\n// -------------------------------------\nconst items = $input.all();\nif (!items.length) return [];\n\nconst dirRaw = String(items[0].json.directory || '');\n\n// split by / or \\\nconst parts = dirRaw.split(/[\\\\/]/).filter(Boolean);\n\n// last 2 folders → slug\nconst slug = parts.slice(-2).map(slugPart).join('_') || 'schema';\n\n// hash from full normalized path\nconst normalizedPath = parts.map(p => p.normalize('NFC')).join('/');\nconst hash8 = fnv1a(normalizedPath).slice(0, 8);\n\n// final schema (safe for Postgres)\nlet schema = `s_${slug}_${hash8}`\n  .toLowerCase()\n  .replace(/[^a-z0-9_]/g, '_')\n  .slice(0, 63);\n\n// output\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    schema,\n  },\n  binary: item.binary,\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        480
      ],
      "id": "b5b1fd6e-29f5-422d-8f52-21836f26ae9b",
      "name": "Hash Schema Name1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE SCHEMA IF NOT EXISTS global;\n\nCREATE TABLE IF NOT EXISTS global.vat_companies (\n    id SERIAL PRIMARY KEY,\n\n    vat_id TEXT NOT NULL,\n    branch TEXT NOT NULL,\n\n    company_name TEXT,\n    address      TEXT,\n\n    created_at TIMESTAMP DEFAULT NOW(),\n    updated_at TIMESTAMP DEFAULT NOW(),\n\n    CONSTRAINT vat_company_unique UNIQUE (vat_id, branch)\n);\n\nCREATE TABLE IF NOT EXISTS global.workflow_errors (\n    id SERIAL PRIMARY KEY,\n    timestamp TIMESTAMP,\n    workflow_name TEXT,\n    workflow_id TEXT,\n    execution_id TEXT,\n    execution_url TEXT,\n    last_node TEXT,\n    error_message TEXT,\n    error_stack TEXT\n);\n\nCREATE TABLE IF NOT EXISTS global.workflow_batches (\n    id SERIAL PRIMARY KEY,\n    batch_name TEXT,\n    total_files INT,\n    completed_files INT DEFAULT 0,\n    created_at TIMESTAMP DEFAULT NOW(),\n    updated_at TIMESTAMP DEFAULT NOW(),\n    status TEXT DEFAULT 'pending'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        32
      ],
      "id": "e51a5943-ffab-466f-871e-b17583ab5679",
      "name": "Create Companies Table1",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ---------------------------------------------------------\n-- 0) ถ้ามี schema เดิมอยู่ → ลบทิ้งทั้งหมด (รวมตาราง)\n-- ---------------------------------------------------------\nDROP SCHEMA IF EXISTS {{\n  $json.schema\n    .toLowerCase()\n    .replace(/[^a-zA-Z0-9_]/g, '_')\n}} CASCADE;\n\n-- ---------------------------------------------------------\n-- 1) สร้าง schema ใหม่\n-- ---------------------------------------------------------\nCREATE SCHEMA IF NOT EXISTS {{\n  $json.schema\n    .toLowerCase()\n    .replace(/[^a-zA-Z0-9_]/g, '_')\n}};\n\n-- ---------------------------------------------------------\n-- 2) ตาราง invoices: เก็บข้อมูลจริงจาก PDF\n-- ---------------------------------------------------------\nCREATE TABLE IF NOT EXISTS {{\n  $json.schema.toLowerCase().replace(/[^a-zA-Z0-9_]/g, '_')\n}}.invoices (\n    id SERIAL PRIMARY KEY,\n\n    invoice_number   TEXT,\n    date_raw         TEXT,\n    doc_title        TEXT,\n\n    vendor_name      TEXT,\n    vendor_vat_id    TEXT,\n    vendor_branch    TEXT,\n\n    net_amount       NUMERIC(15,2),\n    vat_amount       NUMERIC(15,2),\n    grand_total      NUMERIC(15,2),\n\n    name             TEXT UNIQUE,\n    path             TEXT UNIQUE,\n    is_done          BOOLEAN DEFAULT FALSE,\n\n    CONSTRAINT invoices_unique_triplet\n      UNIQUE (invoice_number, vendor_vat_id, vendor_branch),\n\n    created_at       TIMESTAMP DEFAULT NOW()\n);\n\n-- ---------------------------------------------------------\n-- 3) ตาราง summary: 1-to-1 กับ invoices + unique composite key\n-- ---------------------------------------------------------\nCREATE TABLE IF NOT EXISTS {{\n  $json.schema.toLowerCase().replace(/[^a-zA-Z0-9_]/g, '_')\n}}.invoice_check_summary (\n    id SERIAL PRIMARY KEY,\n\n    invoice_id INT UNIQUE REFERENCES {{\n      $json.schema.toLowerCase().replace(/[^a-zA-Z0-9_]/g, '_')\n    }}.invoices(id) ON DELETE CASCADE,\n\n    invoice_number    TEXT NOT NULL,\n    vendor_vat_id     TEXT NOT NULL,\n    vendor_branch     TEXT NOT NULL,\n\n    invoice_status              BOOLEAN,\n    buyer_vat_info_status       BOOLEAN,\n    invoice_number_status       BOOLEAN,\n    date_raw_status             BOOLEAN,\n    vendor_name_status          BOOLEAN,\n    vendor_vat_id_status        BOOLEAN,\n    vendor_vat_id_info_status   BOOLEAN,\n    vendor_branch_status        BOOLEAN,\n    net_amount_status           BOOLEAN,\n    vat_amount_status           BOOLEAN,\n    grand_total_status          BOOLEAN,\n\n    buyer_address_status        BOOLEAN,\n    buyer_address_reason        TEXT,\n\n    missing_in_pdf      BOOLEAN,\n    missing_in_excel    BOOLEAN,\n    all_ok              BOOLEAN,\n\n    updated_at          TIMESTAMP DEFAULT NOW(),\n\n    CONSTRAINT uq_invoice_check_summary\n        UNIQUE (invoice_number, vendor_vat_id, vendor_branch)\n);\n\n-- ---------------------------------------------------------\n-- 4) ตาราง Excel purchase tax\n-- ---------------------------------------------------------\nCREATE TABLE IF NOT EXISTS {{\n  $json.schema.toLowerCase().replace(/[^a-zA-Z0-9_]/g, '_')\n}}.excel_purchase_tax (\n    id SERIAL PRIMARY KEY,\n\n    invoice_number   TEXT,\n    date_raw         TEXT,\n    doc_title        TEXT,\n    vendor_name      TEXT,\n    vendor_vat_id    TEXT,\n    vendor_branch    TEXT,\n\n    net_amount       NUMERIC(15,2),\n    vat_amount       NUMERIC(15,2),\n    grand_total      NUMERIC(15,2),\n\n    created_at       TIMESTAMP DEFAULT NOW()\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        256
      ],
      "id": "45df4431-89b1-420d-9bfb-080e079ae5ca",
      "name": "Create Schema For Company1",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.fileName }}",
            "path": "={{ $json.path }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_raw",
              "displayName": "date_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "net_amount",
              "displayName": "net_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount",
              "displayName": "vat_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        464
      ],
      "id": "511e4cf1-5c4e-4489-a332-4b1aebe3123b",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract File Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch Data": {
      "main": [
        [
          {
            "node": "Create Batch Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Batch Record": {
      "main": [
        [
          {
            "node": "Merge Batch ID",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Batch ID": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call My Sub-workflow1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Call My Sub-workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract File Info1": {
      "main": [
        [
          {
            "node": "Hash Schema Name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Schema Name1": {
      "main": [
        [
          {
            "node": "Create Schema For Company1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Companies Table1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Batch Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Batch ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54c482ef-8a7e-4221-8ce7-199a06d836f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e25b4f0a8e6c0a7984427a0067c1260671f4803f14e4886f5e01dffd5ca1629c"
  },
  "id": "iEKjKX9xAzj9UpeH",
  "tags": []
}
