workflows/InvoiceProcessingLogic.json
{
  "name": "Invoice Processing Logic",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -112,
        -544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eeac368e-1225-484e-996f-daf45cddc6d5",
              "leftValue": "={{ $json.has_invoice }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -624
      ],
      "id": "e53699f3-be27-4b20-b964-c4d5c47510a9",
      "name": "Check Invoice Status"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_number": "={{ $json.invoice_number }}",
            "date_raw": "={{ $json.date_raw }}",
            "vendor_name": "={{ $json.vendor_name }}",
            "vendor_vat_id": "={{ $json.vendor_vat_id }}",
            "vendor_branch": "={{ $json.vendor_branch }}",
            "name": "={{ $json.fileName }}",
            "doc_title": "={{ $json.doc_title }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_raw",
              "displayName": "date_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "net_amount",
              "displayName": "net_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount",
              "displayName": "vat_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_title",
              "displayName": "doc_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        -880
      ],
      "id": "cae95739-da2b-41a9-8928-d851093b1973",
      "name": "Update Invoices Table",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoice_check_summary",
          "mode": "list",
          "cachedResultName": "invoice_check_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_status": "={{ $json.has_invoice }}",
            "invoice_number": "={{ $json.invoice_number }}"
          },
          "matchingColumns": [
            "invoice_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_status",
              "displayName": "invoice_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "buyer_vat_info_status",
              "displayName": "buyer_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number_status",
              "displayName": "invoice_number_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_raw_status",
              "displayName": "date_raw_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name_status",
              "displayName": "vendor_name_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id_status",
              "displayName": "vendor_vat_id_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_info_status",
              "displayName": "vendor_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch_status",
              "displayName": "vendor_branch_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "net_amount_status",
              "displayName": "net_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount_status",
              "displayName": "vat_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grand_total_status",
              "displayName": "grand_total_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "all_ok",
              "displayName": "all_ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        -736
      ],
      "id": "bfc8280a-1cea-4664-8e1e-6e3c6b214329",
      "name": "Update Summary Table",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoice_check_summary",
          "mode": "list",
          "cachedResultName": "invoice_check_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_number": "={{ $json.invoice_number }}",
            "vendor_vat_id": "={{ $json.vendor_vat_id }}",
            "vendor_branch": "={{ $json.vendor_branch }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_status",
              "displayName": "invoice_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "buyer_vat_info_status",
              "displayName": "buyer_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number_status",
              "displayName": "invoice_number_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_raw_status",
              "displayName": "date_raw_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name_status",
              "displayName": "vendor_name_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id_status",
              "displayName": "vendor_vat_id_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id_info_status",
              "displayName": "vendor_vat_id_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch_status",
              "displayName": "vendor_branch_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "net_amount_status",
              "displayName": "net_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount_status",
              "displayName": "vat_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grand_total_status",
              "displayName": "grand_total_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "missing_in_pdf",
              "displayName": "missing_in_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "missing_in_excel",
              "displayName": "missing_in_excel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "all_ok",
              "displayName": "all_ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        -1088
      ],
      "id": "ba0615ac-3a52-4c03-87d5-4c7eeec4595d",
      "name": "Insert Summary Record",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eeac368e-1225-484e-996f-daf45cddc6d5",
              "leftValue": "={{ $json.amount_ok }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        -1280
      ],
      "id": "2d048700-09e0-4b84-87c0-1767f219c253",
      "name": "Check Amount OK"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "net_amount": "={{ $json.net_amount }}",
            "vat_amount": "={{ $json.vat_amount }}",
            "grand_total": "={{ $json.grand_total }}",
            "name": "={{ $json.fileName }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_raw",
              "displayName": "date_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "net_amount",
              "displayName": "net_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "vat_amount",
              "displayName": "vat_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        -1392
      ],
      "id": "51eaf557-9cb8-4482-ab39-825710e91b90",
      "name": "Update rows in a table3",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "net_amount": "={{ $json.net_amount_fixed }}",
            "vat_amount": "={{ $json.vat_amount_fixed }}",
            "grand_total": "={{ $json.grand_total_fixed }}",
            "name": "={{ $json.fileName }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_raw",
              "displayName": "date_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "net_amount",
              "displayName": "net_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "vat_amount",
              "displayName": "vat_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        -1216
      ],
      "id": "c0a13831-f012-4963-99b7-35b03f590d3c",
      "name": "Update rows in a table4",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "afb35b09-5020-4b8c-b492-0eac7f22bd18",
              "leftValue": "={{ Object.keys($input.item.json).length }}\n",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        -256
      ],
      "id": "7e912726-42fa-4a4a-ba2b-fb0a4c58a211",
      "name": "Check Vendor VAT Found"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT vat_id, company_name, branch, address\nFROM global.vat_companies\nWHERE vat_id = $1\n  AND branch = $2\nLIMIT 1;\n",
        "options": {
          "queryReplacement": "={{ $json.vendor_vat_id }}, {{ $json.vendor_branch }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        -256
      ],
      "id": "72001ceb-b58e-4c11-82c5-ac246d054441",
      "name": "Check Vendor in DB",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OZdjRklO3Sz6aGi8",
          "mode": "list",
          "cachedResultUrl": "/workflow/OZdjRklO3Sz6aGi8",
          "cachedResultName": "RD VAT Lookup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "vat_id": "={{ $json.vendor_vat_id }}",
            "branch_id": "={{ $json.vendor_branch }}",
            "type": "vendor",
            "invoice_number": "={{ $json.invoice_number }}"
          }
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1264,
        -384
      ],
      "id": "5f4cb9e1-f1f0-4137-ac6b-9cac99622858",
      "name": "Call RD VAT Lookup (Vendor)"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoice_check_summary",
          "mode": "list",
          "cachedResultName": "invoice_check_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_number": "={{ $json.invoice_number }}",
            "vendor_vat_id_info_status": "={{ true }}"
          },
          "matchingColumns": [
            "invoice_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_status",
              "displayName": "invoice_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "buyer_vat_info_status",
              "displayName": "buyer_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number_status",
              "displayName": "invoice_number_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_raw_status",
              "displayName": "date_raw_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name_status",
              "displayName": "vendor_name_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id_status",
              "displayName": "vendor_vat_id_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch_status",
              "displayName": "vendor_branch_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "net_amount_status",
              "displayName": "net_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount_status",
              "displayName": "vat_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grand_total_status",
              "displayName": "grand_total_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "missing_in_pdf",
              "displayName": "missing_in_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "missing_in_excel",
              "displayName": "missing_in_excel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "all_ok",
              "displayName": "all_ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_vat_id_info_status",
              "displayName": "vendor_vat_id_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1264,
        -176
      ],
      "id": "e31c284f-1f1e-42a2-a58b-854479489efc",
      "name": "Update rows in a table5",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "afb35b09-5020-4b8c-b492-0eac7f22bd18",
              "leftValue": "={{ Object.keys($input.item.json).length }}\n",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        80
      ],
      "id": "9f34c2ae-d908-4bbb-b082-da25e808d9cc",
      "name": "Check Buyer VAT Found"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT vat_id, company_name, branch, address\nFROM global.vat_companies\nWHERE vat_id = $1\n  AND branch = $2\nLIMIT 1;\n",
        "options": {
          "queryReplacement": "={{ $json.buyer_vat_id }}, {{ $json.buyer_branch }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        80
      ],
      "id": "90e1680f-230b-42db-b983-d48297289fea",
      "name": "Check Buyer in DB",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoice_check_summary",
          "mode": "list",
          "cachedResultName": "invoice_check_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "buyer_vat_info_status": "={{ true }}",
            "invoice_number": "={{ $json.invoice_number }}"
          },
          "matchingColumns": [
            "invoice_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_status",
              "displayName": "invoice_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "buyer_vat_info_status",
              "displayName": "buyer_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_number_status",
              "displayName": "invoice_number_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_raw_status",
              "displayName": "date_raw_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name_status",
              "displayName": "vendor_name_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id_status",
              "displayName": "vendor_vat_id_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_info_status",
              "displayName": "vendor_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch_status",
              "displayName": "vendor_branch_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "net_amount_status",
              "displayName": "net_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount_status",
              "displayName": "vat_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grand_total_status",
              "displayName": "grand_total_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "all_ok",
              "displayName": "all_ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2272,
        176
      ],
      "id": "a2509c82-44b9-450a-bcd0-6fb2b16bf219",
      "name": "Update rows in a table6",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OZdjRklO3Sz6aGi8",
          "mode": "list",
          "cachedResultUrl": "/workflow/OZdjRklO3Sz6aGi8",
          "cachedResultName": "RD VAT Lookup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "vat_id": "={{ $json.buyer_vat_id }}",
            "branch_id": "={{ $json.buyer_branch }}",
            "type": "buyer",
            "invoice_number": "={{ $json.invoice_number }}",
            "address_raw": "={{ $json.buyer_address_raw }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1280,
        32
      ],
      "id": "b712f79f-da97-4745-ac1b-64dae867241d",
      "name": "Call RD VAT Lookup (Buyer)"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        -176
      ],
      "id": "22bcbbf3-2a3a-4f3c-b120-79a7f1669bca",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        240
      ],
      "id": "d4987ab3-8a39-4fe1-833d-dc54cd617f3e",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        -384
      ],
      "id": "7c96b831-7788-4a95-85df-fc85a0cbdebf",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        32
      ],
      "id": "42c6096d-2c65-4173-b405-e8499a65f3f9",
      "name": "Merge4"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoice_check_summary",
          "mode": "list",
          "cachedResultName": "invoice_check_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_status": "={{ $json.has_invoice }}",
            "invoice_number": "={{ $json.invoice_number }}"
          },
          "matchingColumns": [
            "invoice_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_status",
              "displayName": "invoice_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "buyer_vat_info_status",
              "displayName": "buyer_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number_status",
              "displayName": "invoice_number_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_raw_status",
              "displayName": "date_raw_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name_status",
              "displayName": "vendor_name_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id_status",
              "displayName": "vendor_vat_id_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_info_status",
              "displayName": "vendor_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch_status",
              "displayName": "vendor_branch_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "net_amount_status",
              "displayName": "net_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount_status",
              "displayName": "vat_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grand_total_status",
              "displayName": "grand_total_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "all_ok",
              "displayName": "all_ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        -528
      ],
      "id": "3ef91809-d114-4cda-816e-72e4ea957682",
      "name": "Update rows in a table2",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    vat_id,\n    company_name,\n    branch,\n    address\nFROM PUBLIC.vat_companies\nWHERE vat_id = $1\n  AND branch = $2\nLIMIT 1;\n",
        "options": {
          "queryReplacement": "={{ $json.buyer_vat_id }},{{ $json.buyer_branch }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        528
      ],
      "id": "6b11a797-fb4b-451b-a5d9-d7a8bb4175f1",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1584,
        464
      ],
      "id": "8fc2dfca-b05a-419d-9c8e-50ad17b78e3d",
      "name": "Merge5"
    },
    {
      "parameters": {
        "jsCode": "// ===== Helpers =====\n\n//   \nconst THAI_DIGITS = \"\";\nfunction toWesternDigits(s) {\n  return String(s ?? \"\").replace(/[-]/g, d => String(THAI_DIGITS.indexOf(d)));\n}\n\n//    space \nfunction cleanSpaces(s) {\n  return String(s ?? \"\")\n    .replace(/[\\u00A0\\u1680\\u2000-\\u200D\\u202F\\u205F\\u3000\\uFEFF]/g, \" \")\n    .replace(/[\\t\\r\\n]+/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n//  \"\"  sourceString  targetString \nfunction isSubset(sourceString, targetString) {\n  if (!sourceString || !targetString) return false;\n\n  //  Source\n  const sourceWords = sourceString.split(\" \").filter(w => w.trim().length > 0);\n  \n  //  Target  ( Target )\n  const targetCombined = targetString.replace(/\\s+/g, \"\");\n\n  // \n  return sourceWords.every(word => targetCombined.includes(word));\n}\n\n// -----------------------------------------------------------\n\n// Normalize : /  \"\"\nfunction normalizeCompanyName(name) {\n  if (!name) return null;\n  let s = toWesternDigits(String(name));\n  s = cleanSpaces(s);\n\n  //  ()\n  //  \"\", \"\", \"\" \n  s = s.replace(/(|||\\.|||\\.||\\.|\\.|)/g, \"\");\n  \n  //  (.)  \n  s = s.replace(/[.,\\-]/g, \" \");\n\n  return cleanSpaces(s);\n}\n\n// Normalize :   \"\"\nfunction normalizeThaiAddress(raw) {\n  if (!raw) return null;\n  let s = toWesternDigits(String(raw));\n  s = cleanSpaces(s);\n\n  // \n  s = s.replace(/^(|)\\s*\\.?\\s*/g, \"\");\n\n  //   \n  s = s.replace(/\\.\\s*(\\d+)/g, \" $1\");\n  s = s.replace(/\\s*(\\d+)/g, \" $1\");\n  s = s.replace(/\\.\\s*/g, \" \");\n  s = s.replace(/\\.\\s*/g, \" \");\n  s = s.replace(/\\.\\s*/g, \" \");\n  s = s.replace(/\\.\\s*/g, \" \");\n\n  //  ., -\n  s = s.replace(/[.,\\-]/g, \" \");\n  \n  // *** :  .replace(/\\s+/g, \"\")  ***\n  return cleanSpaces(s);\n}\n\n// ===== Main =====\n\n//  input\nif (items.length < 2) {\n    return [{ json: { error: \"Expecting at least 2 items (PDF and DB)\" } }];\n}\n\nconst pdf = items[0].json; //  PDF\nconst db  = items[1].json; //  DB/API\n\n// 1) Normalize Name\nconst name_pdf = normalizeCompanyName(pdf.buyer_name);\nconst name_db  = normalizeCompanyName(db.company_name);\n\n// Logic :  2  (PDF  DB  DB  PDF)\nlet company_name_status = false;\nif (name_pdf && name_db) {\n    company_name_status = isSubset(name_pdf, name_db) || isSubset(name_db, name_pdf);\n}\n\n// 2) Normalize Address\nconst addr_pdf = normalizeThaiAddress(pdf.buyer_address_raw);\nconst addr_db  = normalizeThaiAddress(db.address);\n\n// Logic :  2 \nlet address_status = false;\nif (addr_pdf && addr_db) {\n    address_status = isSubset(addr_pdf, addr_db) || isSubset(addr_db, addr_pdf);\n}\n\n// ---- Output ----\n\nreturn [\n  {\n    json: {\n      ...pdf,\n      //  DB \n      db_company_name: db.company_name,\n      db_address: db.address,\n\n      //  Normalize  ( Debug )\n      norm_name_pdf: name_pdf,\n      norm_name_db: name_db,\n      norm_addr_pdf: addr_pdf,\n      norm_addr_db: addr_db,\n\n      //  True/False\n      company_name_status,\n      address_status\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        464
      ],
      "id": "4e1bcff3-b180-4cbf-9dfa-5ff3c15d0b5d",
      "name": "Compare PDF vs DB"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b8bdab8-6959-4a9f-967d-b2c70c3809d6",
              "leftValue": "={{ $json.address_status }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        464
      ],
      "id": "e53ed4d9-fc5f-45a3-a193-2579508676b0",
      "name": "Check Address Match"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoice_check_summary",
          "mode": "list",
          "cachedResultName": "invoice_check_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "buyer_vat_info_status": "={{ false }}",
            "invoice_number": "={{ $json.invoice_number }}"
          },
          "matchingColumns": [
            "invoice_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_status",
              "displayName": "invoice_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "buyer_vat_info_status",
              "displayName": "buyer_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_number_status",
              "displayName": "invoice_number_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_raw_status",
              "displayName": "date_raw_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name_status",
              "displayName": "vendor_name_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id_status",
              "displayName": "vendor_vat_id_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_info_status",
              "displayName": "vendor_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch_status",
              "displayName": "vendor_branch_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "net_amount_status",
              "displayName": "net_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount_status",
              "displayName": "vat_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grand_total_status",
              "displayName": "grand_total_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "all_ok",
              "displayName": "all_ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2272,
        560
      ],
      "id": "dc7f4875-b031-4e38-88bc-160fc36ae2d6",
      "name": "Update rows in a table7",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.fileName }}",
            "is_done": "={{ true }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_raw",
              "displayName": "date_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "doc_title",
              "displayName": "doc_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "net_amount",
              "displayName": "net_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount",
              "displayName": "vat_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_done",
              "displayName": "is_done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        256
      ],
      "id": "674374cd-9e12-49bb-a109-f8b651f33551",
      "name": "Update rows in a table8",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "doc_title": "",
          "invoice_number": "75697",
          "date_raw": "16/08/2025",
          "vendor_name": "  ..- ",
          "vendor_vat_id": "0105534087004",
          "vendor_branch": "00000",
          "buyer_name": "   ",
          "buyer_vat_id": "0745558001007",
          "buyer_branch": "00000",
          "buyer_address_raw": "35/3  5 . 1 . . . 74000",
          "net_amount": 46000,
          "vat_amount": 3220,
          "grand_total": 49220,
          "has_invoice": true,
          "invoice_reason": "",
          "amount_ok": true,
          "amount_mode": "exclusive",
          "amount_reason": "",
          "vat_rate_used": 0.07,
          "tolerance_cents_used": 1,
          "net_amount_fixed": 46000,
          "vat_amount_fixed": 3220,
          "grand_total_fixed": 49220,
          "fileName": "16.08.68 EXP-20250800035  ...75697 VAT.pdf",
          "directory": "/home/node/.n8n-files/VAT/",
          "path": "/home/node/.n8n-files/VAT//16.08.68 EXP-20250800035  ...75697 VAT.pdf",
          "schema": "s_vat_syambiyu_530b9e5d",
          "id": 50,
          "batch_name": "Batch 2025-12-10T08:31:44.168Z",
          "total_files": 6,
          "completed_files": 0,
          "created_at": "2025-12-10T08:31:44.198Z",
          "updated_at": "2025-12-10T08:31:44.198Z",
          "status": "pending",
          "batch_id": 50
        },
        "binary": {
          "data": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "directory": "/home/node/.n8n-files/VAT/",
            "fileName": "16.08.68 EXP-20250800035  ...75697 VAT.pdf",
            "id": "filesystem-v2:workflows/iEKjKX9xAzj9UpeH/executions/167/binary_data/3857bb01-99cf-49ef-bb54-ad8e58799272",
            "fileSize": "872 kB"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check Invoice Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Summary Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Amount OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Vendor in DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Buyer in DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Update Invoices Table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update rows in a table8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Invoice Status": {
      "main": [
        [
          {
            "node": "Update Summary Table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Amount OK": {
      "main": [
        [
          {
            "node": "Update rows in a table3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows in a table4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Vendor VAT Found": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Vendor in DB": {
      "main": [
        [
          {
            "node": "Check Vendor VAT Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Buyer VAT Found": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Buyer in DB": {
      "main": [
        [
          {
            "node": "Check Buyer VAT Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Update rows in a table5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Call RD VAT Lookup (Vendor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Call RD VAT Lookup (Buyer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Compare PDF vs DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare PDF vs DB": {
      "main": [
        [
          {
            "node": "Check Address Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Address Match": {
      "main": [
        [
          {
            "node": "Update rows in a table6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update rows in a table7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37d32cd9-119d-4c94-bbb1-a9a22bcfd916",
  "meta": {
    "instanceId": "e25b4f0a8e6c0a7984427a0067c1260671f4803f14e4886f5e01dffd5ca1629c"
  },
  "id": "N8GVxqE9wUbxjInn",
  "tags": []
}