workflows/InvoiceReconciliation.json
{
  "name": "Invoice Reconciliation",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "513fc367-9cd7-4322-8320-471fa9253852",
      "name": "Spreadsheet File: Read",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [-3424, 560]
    },
    {
      "parameters": {
        "jsCode": "// === Helper Functions ===\n\nfunction cleanSpaces(s) {\n    return String(s ?? '')\n        .replace(/[\\u00A0\\u1680\\u2000-\\u200D\\u202F\\u205F\\u3000\\uFEFF]/g, ' ')\n        .replace(/[\\t\\r\\n]+/g, ' ')\n        .replace(/\\s+/g, ' ')\n        .trim();\n}\n\nfunction onlyDigits(s) {\n    return String(s ?? '').replace(/\\D/g, '');\n}\n\nfunction normVatId(v) {\n    if (v === null || v === undefined || v === '') return null;\n    let s = onlyDigits(v);\n    if (!s) return null;\n    if (/^0+$/.test(s)) return '0';\n    if (s.length < 13) s = s.padStart(13, '0');\n    return s;\n}\n\nfunction normBranch(b) {\n    if (b === null || b === undefined) return null;\n    let raw = String(b).trim();\n    if (!raw || raw === 'รวม') return '00000';\n    let s = onlyDigits(raw);\n    if (!s) return '00000';\n    if (s === '0') s = '0';\n    return s.padStart(5, '0');\n}\n\nfunction parseAmount(val) {\n    if (val === null || val === undefined || val === '') return null;\n    if (typeof val === 'number' && Number.isFinite(val)) return val;\n    const normalized = String(val).replace(/[^\\d.\\-]/g, '');\n    if (!normalized) return null;\n    const n = Number(normalized);\n    return Number.isNaN(n) ? null : n;\n}\n\nfunction normalizeCompanyName(name) {\n    if (!name) return null;\n    let s = cleanSpaces(String(name));\n    s = s.replace(/[“”\"']/g, '');\n    s = cleanSpaces(s);\n    return s || null;\n}\n\n// === MAIN LOGIC ===\n\n// 1. ตั้งตัวแปรเก็บค่า\nlet reportCompany = null;\nlet reportTaxFormId = null;\nconst out = [];\n\n// 2. Loop ครั้งแรก: เพื่อหา Header รายงาน (โดยดูจากทุกบรรทัด)\nfor (const item of items) {\n    // รองรับทั้งแบบมี .json และไม่มี\n    const r = item.json ? item.json : item; \n\n    const reportTitle = cleanSpaces(r['ชื่อรายงาน : '] ?? '');\n    const reportValue = cleanSpaces(r['รายงานภาษีซื้อ'] ?? '');\n\n    // เช็คหาชื่อบริษัทรายงาน (ไม่สนใจว่าบรรทัดนั้นจะเป็น invoice หรือไม่)\n    if (reportTitle.includes('ชื่อกิจการ') && reportValue) {\n        reportCompany = reportValue;\n    }\n    // เช็คหาเลขที่แบบภาษี\n    if (reportTitle.includes('เลขที่แบบภาษี') && reportValue) {\n        reportTaxFormId = reportValue;\n    }\n}\n\n// 3. Loop ครั้งที่สอง: เพื่อจัดการข้อมูล Invoice และใส่ค่าที่หาได้ลงไป\nfor (const item of items) {\n    // รองรับทั้งแบบมี .json และไม่มี\n    const r = item.json ? item.json : item; \n\n    const inv = cleanSpaces(r['เลขที่ใบกำกับภาษี'] ?? '');\n    const branchText = cleanSpaces(r['สาขา/สำนักงานใหญ่'] ?? '');\n\n    // กรอง: ต้องมีเลขที่ใบกำกับ และ ไม่ใช่บรรทัด 'รวม'\n    if (!inv || branchText === 'รวม') {\n        continue;\n    }\n\n    // ---- Mapping Data ----\n    const date = cleanSpaces(r['วันที่ใบกำกับภาษี'] ?? '');\n    const ref_doc = cleanSpaces(r['เลขที่เอกสารอ้างอิง'] ?? '');\n    const doc_title = cleanSpaces(r['ประเภทใบกำกับ'] ?? '');\n    const contact_code = cleanSpaces(r['รหัสผู้ติดต่อ'] ?? '');\n    const vname = cleanSpaces(r['ผู้ติดต่อ'] ?? '');\n    const vvat = r['เลขทะเบียนผู้เสียภาษี'] ?? '';\n    const vbr = r['สาขา/สำนักงานใหญ่'] ?? '';\n    const net = r['รายการภาษี 7%'];\n    const vat = r['ภาษีมูลค่าเพิ่ม'];\n    const grand = r['มูลค่ารวมภาษี'];\n    const status = cleanSpaces(r['สถานะ'] ?? '');\n\n    const vendor_name = normalizeCompanyName(vname);\n    const vendor_vat_id = normVatId(vvat);\n    const vendor_branch = normBranch(vbr);\n    const net_amount = parseAmount(net);\n    const vat_amount = parseAmount(vat);\n    const grand_total = parseAmount(grand);\n\n    out.push({\n        json: {\n            invoice_number: inv,\n            date_raw: date,\n            vendor_name,\n            vendor_vat_id,\n            vendor_branch,\n            net_amount,\n            vat_amount,\n            grand_total,\n            ref_doc,\n            doc_title: doc_title || null,\n            contact_code,\n            status_text: status || null,\n            \n            // ใส่ค่าที่ดึงได้จาก Loop แรก\n            report_company_name: reportCompany,\n            report_tax_form_id: reportTaxFormId\n        },\n        pairedItem: item.pairedItem\n    });\n}\n\nreturn out;"
      },
      "id": "ed38fb72-34dd-4abb-9333-a625ad62cdee",
      "name": "Code: Normalize rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3200, 560]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "={{ $json.body.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-3424, 752],
      "id": "f35c8232-0982-4594-a10b-d388ababd475",
      "name": "Fetch Invoices from DB",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-2800, 640],
      "id": "a426c4e7-39a9-44d0-8ad6-fe19db66bbd7",
      "name": "Merge Excel and DB"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $json.body.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoice_check_summary",
          "mode": "list",
          "cachedResultName": "invoice_check_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_number_status": "={{ $json.invoice_number_status }}",
            "date_raw_status": "={{ $json.date_raw_status }}",
            "vendor_name_status": "={{ $json.vendor_name_status }}",
            "vendor_branch_status": "={{ $json.vendor_branch_status }}",
            "net_amount_status": "={{ $json.net_amount_status }}",
            "vat_amount_status": "={{ $json.vat_amount_status }}",
            "grand_total_status": "={{ $json.grand_total_status }}",
            "invoice_number": "={{ $json.invoice_number }}",
            "missing_in_pdf": "={{ $json.missing_in_pdf }}",
            "missing_in_excel": "={{ $json.missing_in_excel }}",
            "vendor_vat_id_status": "={{ $json.vendor_vat_id_status }}"
          },
          "matchingColumns": ["invoice_number"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_status",
              "displayName": "invoice_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "buyer_vat_info_status",
              "displayName": "buyer_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number_status",
              "displayName": "invoice_number_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_raw_status",
              "displayName": "date_raw_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_name_status",
              "displayName": "vendor_name_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_vat_id_status",
              "displayName": "vendor_vat_id_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id_info_status",
              "displayName": "vendor_vat_id_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch_status",
              "displayName": "vendor_branch_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "net_amount_status",
              "displayName": "net_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "vat_amount_status",
              "displayName": "vat_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "grand_total_status",
              "displayName": "grand_total_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "missing_in_pdf",
              "displayName": "missing_in_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "missing_in_excel",
              "displayName": "missing_in_excel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "all_ok",
              "displayName": "all_ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-1856, 800],
      "id": "ece17f6e-d0b3-4e93-8b48-875ea1df0563",
      "name": "Update Invoice Summary",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{$json.body.excelFolder}}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [-3648, 560],
      "id": "dc7be69e-18da-4686-88dd-37472a0efc56",
      "name": "Read Excel File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compare",
        "responseMode": "lastNode",
        "options": {
          "rawBody": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-4096, 832],
      "id": "d73957e4-e19b-4fa1-9f3c-b49bfab2e5d4",
      "name": "Webhook",
      "webhookId": "ecb7626f-8968-4654-be8f-555b9f7f12f7"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-2560, 464],
      "id": "443d0db1-e95f-4a8e-a1d7-0b148736bcc3",
      "name": "Merge Comparison Results"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-2080, 800],
      "id": "f402fdb8-67c0-4dc9-a598-d5f47eff882c",
      "name": "Merge Final Results"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $json.body.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoice_check_summary",
          "mode": "list",
          "cachedResultName": "invoice_check_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_number": "={{ $json.invoice_number }}",
            "vendor_vat_id": "={{ $json.vendor_vat_id }}",
            "vendor_branch": "={{ $json.vendor_branch }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_status",
              "displayName": "invoice_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "buyer_vat_info_status",
              "displayName": "buyer_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number_status",
              "displayName": "invoice_number_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_raw_status",
              "displayName": "date_raw_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name_status",
              "displayName": "vendor_name_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id_status",
              "displayName": "vendor_vat_id_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_info_status",
              "displayName": "vendor_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch_status",
              "displayName": "vendor_branch_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "net_amount_status",
              "displayName": "net_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount_status",
              "displayName": "vat_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grand_total_status",
              "displayName": "grand_total_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "all_ok",
              "displayName": "all_ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-2336, 368],
      "id": "13a856c4-df00-43ba-8a9d-19917429739b",
      "name": "Insert Missing Invoices",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{ $json.body.schema }}.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [-3440, 1168],
      "id": "a3b1ef58-5c55-40ef-9fa2-f272ae36b7fb",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/{{ $json.body.schema }}.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [-2976, 1088],
      "id": "c8b2712c-1397-4011-89a2-3c4400f6a5ae",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) return [];\n\n// -------------------------------------\n// thaiToLatin: แปลงไทย → ตัวละติน\n// -------------------------------------\nfunction thaiToLatin(input) {\n  if (!input) return '';\n\n  const THAI_DIGITS = '๐๑๒๓๔๕๖๗๘๙';\n\n  const charMap = {\n    'ก': 'k','ข': 'kh','ฃ': 'kh','ค': 'kh','ฅ': 'kh','ฆ': 'kh',\n    'ง': 'ng',\n    'จ': 'ch','ฉ': 'ch','ช': 'ch','ซ': 's','ฌ': 'ch',\n    'ญ': 'y',\n    'ฎ': 'd','ฏ': 't',\n    'ฐ': 'th','ฑ': 'th','ฒ': 'th','ถ': 'th','ท': 'th','ธ': 'th',\n    'ณ': 'n','ด': 'd','ต': 't','น': 'n',\n    'บ': 'b','ป': 'p','ผ': 'ph','ฝ': 'f','พ': 'ph','ฟ': 'f','ภ': 'ph',\n    'ม': 'm','ย': 'y','ร': 'r','ล': 'l','ว': 'w',\n    'ศ': 's','ษ': 's','ส': 's','ห': 'h','ฮ': 'h',\n    'อ': 'o',\n    'ะ': 'a','ั': 'a','า': 'a','ำ': 'am',\n    'ิ': 'i','ี': 'i',\n    'ุ': 'u','ู': 'u',\n    'ึ': 'ue','ื': 'ue',\n    'เ': 'e','แ': 'ae','โ': 'o','ใ': 'ai','ไ': 'ai',\n    '่': '', '้': '', '๊': '', '๋': '',\n    '์': '', 'ํ': '', 'ฯ': '', 'ๆ': '',\n    'ฺ': '', '฿': '',\n  };\n\n  let out = '';\n\n  for (const ch of input.normalize('NFC')) {\n\n    // English / number\n    if (/^[a-zA-Z0-9]$/.test(ch)) {\n      out += ch;\n      continue;\n    }\n\n    // Thai digit → western digit\n    const idx = THAI_DIGITS.indexOf(ch);\n    if (idx !== -1) {\n      out += idx;\n      continue;\n    }\n\n    // Thai character mapping\n    if (ch in charMap) {\n      out += charMap[ch];\n      continue;\n    }\n\n    // Whitespace\n    if (/\\s/.test(ch)) {\n      out += ' ';\n      continue;\n    }\n\n    // others → space\n    out += ' ';\n  }\n\n  return out.replace(/\\s+/g, ' ').trim();\n}\n\n// -------------------------------------\n// slugPart: ทำ slug จากชื่อโฟลเดอร์\n// -------------------------------------\nfunction slugPart(part) {\n  const latin = thaiToLatin(part || '');\n  return latin\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '')\n    .slice(0, 8) || 'p';\n}\n\n// -------------------------------------\n// FNV-1a 32-bit hash\n// -------------------------------------\nfunction fnv1a(str) {\n  let hash = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    hash ^= str.charCodeAt(i);\n    hash = (hash >>> 0) * 0x01000193; // 16777619\n  }\n  return (hash >>> 0).toString(16).padStart(8, '0');\n}\n\n// -------------------------------------\n// MAIN: map items\n// -------------------------------------\nreturn items.map(item => {\n  const rawBody = item.json.body;\n\n  // แปลง body ให้เป็น object ก่อน (รองรับทั้ง string และ object)\n  let body;\n  if (typeof rawBody === 'string') {\n    try {\n      body = JSON.parse(rawBody);\n    } catch (e) {\n      body = {};\n    }\n  } else {\n    body = rawBody || {};\n  }\n\n  // ใช้ path จาก body.schema เช่น \"/files/VAT/2568-08/count\"\n  const dirRaw = String(body.schema || '');\n\n  // split path เป็นส่วน ๆ (รองรับ / หรือ \\)\n  const parts = dirRaw.split(/[\\\\/]/).filter(Boolean);\n\n  // เอาโฟลเดอร์ท้าย ๆ 2 ตัวมาทำ slug เช่น \"2568-08/count\"\n  const slug = parts.slice(-2).map(slugPart).join('_') || 'schema';\n\n  // ใช้ full path ที่ normalize แล้วทำ hash\n  const normalizedPath = parts.map(p => p.normalize('NFC')).join('/');\n  const hash8 = fnv1a(normalizedPath).slice(0, 8);\n\n  // final schema (safe for Postgres)\n  let schema = `s_${slug}_${hash8}`\n    .toLowerCase()\n    .replace(/[^a-z0-9_]/g, '_')\n    .slice(0, 63);\n\n  return {\n    json: {\n      ...item.json,\n      headers: {\n        ...item.json.headers,\n        \"content-type\": \"application/json\", // เปลี่ยนให้ตรงกับ output ที่ต้องการ\n      },\n      body: {\n        ...body,\n        schema, // เขียนทับ schema เดิมด้วยค่า hash ใหม่\n      },\n    },\n    binary: item.binary,\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3872, 832],
      "id": "bd107736-b73b-42a2-afca-b62a3dd17ae4",
      "name": "Hash Schema Name"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $json.body.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "excel_purchase_tax",
          "mode": "list",
          "cachedResultName": "excel_purchase_tax"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_number": "={{ $json.invoice_number }}",
            "date_raw": "={{ $json.date_raw }}",
            "vendor_name": "={{ $json.vendor_name }}",
            "vendor_vat_id": "={{ $json.vendor_vat_id }}",
            "vendor_branch": "={{ $json.vendor_branch }}",
            "net_amount": "={{ $json.net_amount }}",
            "vat_amount": "={{ $json.vat_amount }}",
            "grand_total": "={{ $json.grand_total }}",
            "doc_title": "={{ $json.doc_title }}",
            "ref_doc": "={{ $json.ref_doc }}",
            "source_id": "={{ $json.source_id }}",
            "report_company_name": "={{ $json.report_company_name }}",
            "report_tax_form_id": "={{ $json.report_tax_form_id }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_raw",
              "displayName": "date_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ref_doc",
              "displayName": "ref_doc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "doc_title",
              "displayName": "doc_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "net_amount",
              "displayName": "net_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "vat_amount",
              "displayName": "vat_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "report_company_name",
              "displayName": "report_company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_tax_form_id",
              "displayName": "report_tax_form_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-2336, 560],
      "id": "2a66d053-b432-434c-85cd-265158895de2",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-3200, 1088],
      "id": "4be5a413-f5cb-45a1-96ea-650fc21bdcb2",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "// Normalize DB rows\nfunction cleanSpaces(s) {\n  return String(s ?? '')\n    .replace(/[\\u00A0\\u1680\\u2000-\\u200D\\u202F\\u205F\\u3000\\uFEFF]/g, ' ')\n    .replace(/[\\t\\r\\n]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction onlyDigits(s) {\n  return String(s ?? '').replace(/\\D/g, '');\n}\n\nfunction normVatId(v) {\n  if (v == null || v === '') return null;\n  let s = onlyDigits(v);\n  if (!s) return null;\n  if (/^0+$/.test(s)) return '0';\n  return s.padStart(13, '0');\n}\n\nfunction normBranch(b) {\n  if (b == null) return null;\n  let s = onlyDigits(String(b));\n  if (!s) return '00000';\n  return s.padStart(5, '0');\n}\n\nfunction normalizeCompanyName(name) {\n  if (!name) return null;\n  let s = cleanSpaces(String(name));\n  s = s.replace(/[“”\"']/g, '');\n  s = s.replace(/\\u200B/g, '');\n  s = s.replace(/\\s+/g, '');\n  return s || null;\n}\n\nconst items = $input.all();\nreturn items.map(item => {\n  const row = item.json;\n  return {\n    json: {\n      ...row,\n      _norm_invoice_number: cleanSpaces(row.invoice_number),\n      _norm_vendor_vat_id: normVatId(row.vendor_vat_id),\n      _norm_vendor_branch: normBranch(row.vendor_branch),\n      _norm_vendor_name: normalizeCompanyName(row.vendor_name)\n    }\n  };\n});\n"
      },
      "id": "60eefbc0-fd53-4c18-b543-b09cbc9cb775",
      "name": "Normalize DB Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3200, 752]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE global.vat_companies RESTART IDENTITY;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-3648, 1424],
      "id": "d6866714-9ead-46d4-bb47-3116d7faf289",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT source_id\nFROM global.buildmeup_customers\nWHERE '{{ $json.report_company_name }}' ILIKE '%' || company_name || '%';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-2976, 560],
      "id": "5607f357-cd05-4c9e-9dc9-5270b6dee61f",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-2592, 720],
      "id": "997fb3e9-67ad-4ac7-b407-b8e9b03ac029",
      "name": "Merge Excel and DB1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  -- ===== 1) ข้อมูลจาก Excel (excel_purchase_tax) =====\n  e.*,\n  NULL::text AS excel_name,\n\n  -- ===== 2) ข้อมูลจาก invoices (PDF) =====\n  i.id                AS pdf_id,\n  i.invoice_number    AS pdf_invoice_number,\n  i.date_raw          AS pdf_date_raw,\n  i.doc_title         AS pdf_doc_title,\n  i.vendor_name       AS pdf_vendor_name,\n  i.vendor_vat_id     AS pdf_vendor_vat_id,\n  i.vendor_branch     AS pdf_vendor_branch,\n  i.net_amount        AS pdf_net_amount,\n  i.vat_amount        AS pdf_vat_amount,\n  i.grand_total       AS pdf_grand_total,\n  i.name              AS pdf_name,\n  i.path              AS pdf_path,\n  i.created_at        AS pdf_created_at,\n\n  -- ===== 3) ข้อมูลจาก invoice_check_summary =====\n  s.id                        AS summary_id,\n  s.invoice_id                AS summary_invoice_id,\n  s.invoice_number            AS summary_invoice_number,\n  s.vendor_vat_id             AS summary_vendor_vat_id,\n  s.vendor_branch             AS summary_vendor_branch,\n  s.invoice_status,\n  s.buyer_vat_info_status,\n  s.invoice_number_status,\n  s.date_raw_status,\n  s.vendor_name_status,\n  s.vendor_vat_id_status,\n  s.vendor_vat_id_info_status,\n  s.vendor_branch_status,\n  s.net_amount_status,\n  s.vat_amount_status,\n  s.grand_total_status,\n  s.vat_calculation_status,\n  s.grand_total_calculation_status,\n\n  s.missing_in_pdf,\n  s.missing_in_excel,\n  s.all_ok,\n  s.updated_at                AS summary_updated_at\n\nFROM {{ $json.body.schema }}.excel_purchase_tax e\nFULL OUTER JOIN {{ $json.body.schema }}.invoices i\n  ON i.invoice_number = e.invoice_number\n\nLEFT JOIN {{ $json.body.schema }}.invoice_check_summary s\n  ON s.invoice_number = COALESCE(e.invoice_number, i.invoice_number) -- เชื่อมผ่านเลขใบกำกับ\n\nORDER BY\n  COALESCE(e.invoice_number, i.invoice_number);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-3632, 1168],
      "id": "8121fb88-3d3a-4cfb-ae0a-1521f43393ac",
      "name": "Fetch Comparison Report1",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Compare Logic - Updated with advanced Name Normalization\n// Inputs:\n// 1. Excel Rows (Normalized) from \"Code: Normalize rows\"\n// 2. DB Rows (Normalized) from \"Normalize DB Rows\"\n\n/**\n * เทียบตัวเลขเงิน \n */\nfunction sameAmount(a, b, eps = 0.01) {\n    if (a == null || b == null) return false;\n    const na = Number(a);\n    const nb = Number(b);\n    if (Number.isNaN(na) || Number.isNaN(nb)) return false;\n    return Math.abs(na - nb) <= eps;\n}\n\n/**\n * ลบช่องว่างหัว-ท้าย\n */\nfunction cleanSpaces(s) {\n    return String(s ?? '').trim(); \n}\n\n/**\n * ปรับชื่อให้เป็นมาตรฐานเดียวกันเพื่อใช้เทียบ\n * ลบคำว่า บริษัท, จำกัด, (มหาชน), บจก, บมจ และช่องว่างออกทั้งหมด\n */\nfunction normalizeNameForCompare(s) {\n    if (!s) return \"\";\n    let name = String(s);\n\n    // รายการคำที่ต้องการตัดออกเพื่อให้เหลือแต่ชื่อแบรนด์หลัก\n    const patterns = [\n        /\\(มหาชน\\)/g,\n        /มหาชน/g,\n        /\\(จำกัด\\)/g,\n        /จำกัด/g,\n        /จํากัด/g, \n        /บมจ\\./g,\n        /บจก\\./g,\n        /บริษัท/g,\n        /\\s+/g     // ลบช่องว่างทั้งหมด (Space, Tab, Newline)\n    ];\n\n    patterns.forEach(pattern => {\n        name = name.replace(pattern, '');\n    });\n\n    return name;\n}\n\n// --- 1) Get Data ---\nconst excelItems = $items('Code: Normalize rows', 0, 0);\nconst excelRows  = excelItems.map(i => i.json);\n\nconst dbItems = $items('Normalize DB Rows', 0, 0);\nconst dbRows  = dbItems.map(i => i.json);\n\n// --- 2) Build Map (DB) เพื่อใช้ค้นหาข้อมูลจากฝั่ง PDF ---\nconst dbMap = new Map();\nconst excelKeySet = new Set();\n\nfor (const row of dbRows) {\n    // ใช้ Invoice No + VAT ID + Branch เป็น Key ในการจับคู่\n    const key = [row._norm_invoice_number, row._norm_vendor_vat_id, row._norm_vendor_branch].join('|');\n    if (!dbMap.has(key)) {\n        dbMap.set(key, row);\n    }\n}\n\n// --- 3) Pass 1: Excel -> DB (ตรวจสอบว่าข้อมูลใน Excel มีใน PDF หรือไม่) ---\nconst out = [];\n\nfor (let index = 0; index < excelRows.length; index++) {\n    const r = excelRows[index];\n    \n    const invoice_number = r.invoice_number; \n    const vendor_vat_id  = r.vendor_vat_id;\n    const vendor_branch  = r.vendor_branch;\n    const vendor_name    = r.vendor_name;\n\n    // ข้ามแถวที่ไม่มีข้อมูลสำคัญ\n    if (!invoice_number && !vendor_vat_id && !vendor_name) continue;\n\n    const key = [invoice_number, vendor_vat_id, vendor_branch].join('|');\n    excelKeySet.add(key);\n\n    const inv = dbMap.get(key) || null;\n    let all_ok = false;\n    \n    let invoice_number_status = null;\n    let date_raw_status       = null;\n    let vendor_name_status    = null;\n    let vendor_vat_id_status  = null;\n    let vendor_branch_status  = null;\n    let net_amount_status     = null;\n    let vat_amount_status     = null;\n    let grand_total_status    = null;\n\n    if (inv) {\n        // --- ส่วนการเปรียบเทียบข้อมูล ---\n        invoice_number_status = (invoice_number === inv._norm_invoice_number);\n        date_raw_status = (cleanSpaces(r.date_raw) === cleanSpaces(inv.date_raw));\n        \n        // เทียบชื่อโดยใช้ฟังก์ชัน Normalize ใหม่\n        vendor_name_status = (normalizeNameForCompare(vendor_name) === normalizeNameForCompare(inv._norm_vendor_name));\n        \n        vendor_vat_id_status  = (vendor_vat_id  === inv._norm_vendor_vat_id);\n        vendor_branch_status  = (vendor_branch  === inv._norm_vendor_branch);\n\n        net_amount_status  = sameAmount(r.net_amount,  inv.net_amount);\n        vat_amount_status  = sameAmount(r.vat_amount,  inv.vat_amount);\n        grand_total_status = sameAmount(r.grand_total, inv.grand_total);\n\n        // สรุปผล: ต้อง True ทุกช่องถึงจะเป็น All OK\n        all_ok = [\n            invoice_number_status, date_raw_status, vendor_name_status,\n            vendor_vat_id_status, vendor_branch_status,\n            net_amount_status, vat_amount_status, grand_total_status\n        ].every(v => v === true);\n    }\n\n    out.push({\n        json: {\n            source: 'excel',\n            missing_in_pdf: !inv,\n            missing_in_excel: false,\n            invoice_id: inv ? inv.id : null,\n            invoice_number, vendor_vat_id, vendor_branch, vendor_name,\n            invoice_number_status, date_raw_status, vendor_name_status,\n            vendor_vat_id_status, vendor_branch_status,\n            net_amount_status, vat_amount_status, grand_total_status,\n            all_ok,\n        },\n        pairedItem: excelItems[index]?.pairedItem,\n    });\n}\n\n// --- 4) Pass 2: DB -> Excel (ตรวจสอบว่ามีไฟล์ PDF ไหนที่ไม่มีใน Excel บ้าง) ---\nfor (const db of dbRows) {\n    const key = [db._norm_invoice_number, db._norm_vendor_vat_id, db._norm_vendor_branch].join('|');\n    \n    if (!excelKeySet.has(key)) {\n        out.push({\n            json: {\n                source: 'pdf',\n                missing_in_pdf: false,\n                missing_in_excel: true,\n                invoice_id: db.id,\n                invoice_number: db._norm_invoice_number,\n                vendor_vat_id:  db._norm_vendor_vat_id,\n                vendor_branch:  db._norm_vendor_branch,\n                vendor_name:    db._norm_vendor_name,\n                all_ok: false,\n            }\n        });\n    }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-2400, 720],
      "id": "191c2993-6cc1-483e-845a-bb6de61f5a77",
      "name": "Compare Logic"
    }
  ],
  "connections": {
    "Spreadsheet File: Read": {
      "main": [
        [
          {
            "node": "Code: Normalize rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Normalize rows": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Excel and DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Invoices from DB": {
      "main": [
        [
          {
            "node": "Normalize DB Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Excel and DB": {
      "main": [
        [
          {
            "node": "Merge Excel and DB1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Comparison Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read Excel File": {
      "main": [
        [
          {
            "node": "Spreadsheet File: Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Hash Schema Name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Comparison Results": {
      "main": [
        [
          {
            "node": "Insert Missing Invoices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Results": {
      "main": [
        [
          {
            "node": "Update Invoice Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hash Schema Name": {
      "main": [
        [
          {
            "node": "Merge Comparison Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Excel File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Final Results",
            "type": "main",
            "index": 1
          },
          {
            "node": "Fetch Invoices from DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Comparison Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize DB Rows": {
      "main": [
        [
          {
            "node": "Merge Excel and DB1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Merge Excel and DB",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Excel and DB1": {
      "main": [
        [
          {
            "node": "Compare Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Comparison Report1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Logic": {
      "main": [
        [
          {
            "node": "Merge Final Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "8ffa87a3-010e-4a5c-9a7d-ce9233f5176a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e25b4f0a8e6c0a7984427a0067c1260671f4803f14e4886f5e01dffd5ca1629c"
  },
  "id": "XKPpDihGIV6E6dao",
  "tags": []
}
