workflows/InvoiceReconciliation.json
{
  "name": "Invoice Reconciliation",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "672bc0a0-7bca-43dc-a8b7-47d9f24c1a44",
      "name": "Spreadsheet File: Read",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -2544,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "// === Normalize Excel rows from Thai headers to standard fields ===\n\n// ---- universal space cleaner ----\nfunction cleanSpaces(s) {\n  return String(s ?? '')\n    // ลบช่องว่างแปลกๆ (non-breaking, zero-width, full-width, etc.)\n    .replace(/[\\u00A0\\u1680\\u2000-\\u200D\\u202F\\u205F\\u3000\\uFEFF]/g, ' ')\n    // แปลง tab/newline ให้เป็น space ปกติ\n    .replace(/[\\t\\r\\n]+/g, ' ')\n    // รวม space ซ้ำ\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction onlyDigits(s) {\n  return String(s ?? '').replace(/\\D/g, '');\n}\n\n// แปลงเลขผู้เสียภาษีให้เป็น string ตัวเลขล้วน (ถ้าสั้นกว่า 13 จะ pad)\nfunction normVatId(v) {\n  if (v === null || v === undefined || v === '') return null;\n  let s = onlyDigits(v);\n  if (!s) return null;\n\n  // เคสหน่วยงานรัฐที่เป็น 0/0000000000000 จะจัดการทีหลังก็ได้\n  if (/^0+$/.test(s)) return '0';\n\n  if (s.length < 13) {\n    s = s.padStart(13, '0');\n  }\n  return s;\n}\n\n// แปลง branch ให้เป็น string 5 หลัก\nfunction normBranch(b) {\n  if (b === null || b === undefined) return null;\n  let raw = String(b).trim();\n  if (!raw) return '00000'; // ไม่มี = treat เป็นสำนักงานใหญ่ก็ได้\n  if (raw === 'รวม') return '00000'; // แถวสรุป หรือรวมสาขา → ไม่ใช่ใบกำกับจริง\n\n  let s = onlyDigits(raw);\n  if (!s) return '00000';\n  if (s === '0') s = '0';\n  return s.padStart(5, '0');\n}\n\n// แปลงจำนวนเงินให้เป็น Number (รองรับทั้ง string/มีคอมมา)\nfunction parseAmount(val) {\n  if (val === null || val === undefined || val === '') return null;\n  if (typeof val === 'number' && Number.isFinite(val)) return val;\n  const normalized = String(val).replace(/[^\\d.\\-]/g, '');\n  if (!normalized) return null;\n  const n = Number(normalized);\n  return Number.isNaN(n) ? null : n;\n}\n\n// normalize ชื่อบริษัท\nfunction normalizeCompanyName(name) {\n  if (!name) return null;\n  let s = cleanSpaces(String(name));\n  s = s.replace(/[“”\"']/g, '');\n  s = cleanSpaces(s);\n  return s || null;\n}\n\n// === main ===\nconst out = [];\n\nfor (const item of items) {\n  const r = item.json;\n\n  // ---- ดึงค่าจากหัวคอลัมน์ตามไฟล์ Excel นี้ ----\n  const inv      = cleanSpaces(r['เลขที่ใบกำกับภาษี'] ?? '');\n  const date     = cleanSpaces(r['วันที่ใบกำกับภาษี'] ?? '');\n  const ref_doc  = cleanSpaces(r['เลขที่เอกสารอ้างอิง'] ?? '');\n  const doc_title = cleanSpaces(r['ประเภทใบกำกับ'] ?? '');  // << เปลี่ยนจาก 'ประเภทเอกสาร' เป็น 'ประเภทใบกำกับ'\n  const contact_code = cleanSpaces(r['รหัสผู้ติดต่อ'] ?? '');\n  const vname   = cleanSpaces(r['ผู้ติดต่อ'] ?? '');\n  const vvat    = r['เลขทะเบียนผู้เสียภาษี'] ?? '';\n  const vbr     = r['สาขา/สำนักงานใหญ่'] ?? '';\n  const net     = r['รายการภาษี 7%'];\n  const vat     = r['ภาษีมูลค่าเพิ่ม'];\n  const grand   = r['มูลค่ารวมภาษี'];\n  const status  = cleanSpaces(r['สถานะ'] ?? '');\n\n  // ข้ามแถวที่ไม่มีข้อมูลหลัก (กันเคสว่าง/บรรทัดแปลกๆ)\n  if (!inv && !vvat && !vname) {\n    continue;\n  }\n\n  const vendor_name   = normalizeCompanyName(vname);\n  const vendor_vat_id = normVatId(vvat);\n  const vendor_branch = normBranch(vbr);\n\n  const net_amount    = parseAmount(net);\n  const vat_amount    = parseAmount(vat);\n  const grand_total   = parseAmount(grand);\n\n  out.push({\n    json: {\n      // key หลักที่ใช้ downstream\n      invoice_number: inv,\n      date_raw:       date,\n\n      vendor_name,\n      vendor_vat_id,\n      vendor_branch,\n\n      net_amount,\n      vat_amount,\n      grand_total,\n\n      ref_doc:       ref_doc,      \n      doc_title:     doc_title || null,\n      contact_code:  contact_code,  \n      status_text:   status || null\n    },\n    pairedItem: item.pairedItem,\n  });\n}\n\nreturn out;\n"
      },
      "id": "262093ca-58f9-4f55-b19b-21cb9974cead",
      "name": "Code: Normalize rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "={{ $json.body.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2544,
        160
      ],
      "id": "963a1aa6-acec-4416-9f23-bf82fb183d69",
      "name": "Fetch Invoices from DB",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Compare Logic (Simplified) - With Flexible Name Comparison\n// Inputs:\n// 1. Excel Rows (Normalized) from \"Code: Normalize rows\"\n// 2. DB Rows (Normalized) from \"Normalize DB Rows\"\n\nfunction sameAmount(a, b, eps = 0.01) {\n  if (a == null || b == null) return false;\n  const na = Number(a);\n  const nb = Number(b);\n  if (Number.isNaN(na) || Number.isNaN(nb)) return false;\n  return Math.abs(na - nb) <= eps;\n}\n\nfunction cleanSpaces(s) {\n    return String(s ?? '').trim(); \n}\n\n// *** ฟังก์ชันใหม่: ลบช่องว่างทั้งหมดเพื่อเทียบชื่อ ***\nfunction normalizeNameForCompare(s) {\n    if (!s) return \"\";\n    return String(s).replace(/\\s+/g, ''); // ลบ space, tab, newline ทั้งหมด\n}\n\n// 1) Get Data\nconst excelItems = $items('Code: Normalize rows', 0, 0);\nconst excelRows  = excelItems.map(i => i.json);\n\nconst dbItems = $items('Normalize DB Rows', 0, 0);\nconst dbRows  = dbItems.map(i => i.json);\n\n// 2) Build Map (DB)\nconst dbMap = new Map();\nconst dbKeySet = new Set();\nconst excelKeySet = new Set();\n\nfor (const row of dbRows) {\n  const key = [row._norm_invoice_number, row._norm_vendor_vat_id, row._norm_vendor_branch].join('|');\n  dbKeySet.add(key);\n  if (!dbMap.has(key)) {\n    dbMap.set(key, row);\n  }\n}\n\n// 3) Pass 1: Excel -> DB\nconst out = [];\n\nfor (let index = 0; index < excelRows.length; index++) {\n  const r = excelRows[index];\n  \n  const invoice_number = r.invoice_number; \n  const vendor_vat_id  = r.vendor_vat_id;\n  const vendor_branch  = r.vendor_branch;\n  const vendor_name    = r.vendor_name;\n\n  if (!invoice_number && !vendor_vat_id && !vendor_name) continue;\n\n  const key = [invoice_number, vendor_vat_id, vendor_branch].join('|');\n  excelKeySet.add(key);\n\n  const inv = dbMap.get(key) || null;\n  let all_ok = false;\n  \n  let invoice_number_status = null;\n  let date_raw_status       = null;\n  let vendor_name_status    = null;\n  let vendor_vat_id_status  = null;\n  let vendor_branch_status  = null;\n  let net_amount_status     = null;\n  let vat_amount_status     = null;\n  let grand_total_status    = null;\n\n  if (inv) {\n    // Compare\n    invoice_number_status = (invoice_number === inv._norm_invoice_number);\n    \n    // Date\n    date_raw_status = (cleanSpaces(r.date_raw) === cleanSpaces(inv.date_raw));\n    \n    // *** แก้ไขตรงนี้: ใช้ normalizeNameForCompare ***\n    // เทียบแบบตัดช่องว่างทิ้ง: \"บริษัท ก\" จะเท่ากับ \"บริษัทก\"\n    vendor_name_status    = (normalizeNameForCompare(vendor_name) === normalizeNameForCompare(inv._norm_vendor_name));\n    \n    vendor_vat_id_status  = (vendor_vat_id  === inv._norm_vendor_vat_id);\n    vendor_branch_status  = (vendor_branch  === inv._norm_vendor_branch);\n\n    net_amount_status     = sameAmount(r.net_amount,  inv.net_amount);\n    vat_amount_status     = sameAmount(r.vat_amount,  inv.vat_amount);\n    grand_total_status    = sameAmount(r.grand_total, inv.grand_total);\n\n    all_ok = [\n      invoice_number_status, date_raw_status, vendor_name_status,\n      vendor_vat_id_status, vendor_branch_status,\n      net_amount_status, vat_amount_status, grand_total_status\n    ].every(v => v === true);\n  }\n\n  out.push({\n    json: {\n      source: 'excel',\n      missing_in_pdf: !inv,\n      missing_in_excel: false,\n      invoice_id: inv ? inv.id : null,\n      invoice_number, vendor_vat_id, vendor_branch,\n      invoice_number_status, date_raw_status, vendor_name_status,\n      vendor_vat_id_status, vendor_branch_status,\n      net_amount_status, vat_amount_status, grand_total_status,\n      invoice_status: null, buyer_vat_info_status: null,\n      all_ok,\n    },\n    pairedItem: excelItems[index]?.pairedItem,\n  });\n}\n\n// 4) Pass 2: DB -> Excel\nfor (const db of dbRows) {\n  const key = [db._norm_invoice_number, db._norm_vendor_vat_id, db._norm_vendor_branch].join('|');\n  \n  if (!excelKeySet.has(key)) {\n    out.push({\n      json: {\n        source: 'pdf',\n        missing_in_pdf: false,\n        missing_in_excel: true,\n        invoice_id: db.id,\n        invoice_number: db._norm_invoice_number,\n        vendor_vat_id:  db._norm_vendor_vat_id,\n        vendor_branch:  db._norm_vendor_branch,\n        invoice_number_status: null, date_raw_status: null, vendor_name_status: null,\n        vendor_vat_id_status: null, vendor_branch_status: null,\n        net_amount_status: null, vat_amount_status: null, grand_total_status: null,\n        invoice_status: null, buyer_vat_info_status: null,\n        all_ok: false,\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        112
      ],
      "id": "222f4565-c2a6-4447-9686-65fe1b499053",
      "name": "Compare Logic"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2096,
        112
      ],
      "id": "66eb4892-f40e-406b-8ed2-9c1149e78792",
      "name": "Merge Excel and DB"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $json.body.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoice_check_summary",
          "mode": "list",
          "cachedResultName": "invoice_check_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_number_status": "={{ $json.invoice_number_status }}",
            "date_raw_status": "={{ $json.date_raw_status }}",
            "vendor_name_status": "={{ $json.vendor_name_status }}",
            "vendor_branch_status": "={{ $json.vendor_branch_status }}",
            "net_amount_status": "={{ $json.net_amount_status }}",
            "vat_amount_status": "={{ $json.vat_amount_status }}",
            "grand_total_status": "={{ $json.grand_total_status }}",
            "invoice_number": "={{ $json.invoice_number }}",
            "missing_in_pdf": "={{ $json.missing_in_pdf }}",
            "missing_in_excel": "={{ $json.missing_in_excel }}",
            "vendor_vat_id_status": "={{ $json.vendor_vat_id_status }}"
          },
          "matchingColumns": [
            "invoice_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_status",
              "displayName": "invoice_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "buyer_vat_info_status",
              "displayName": "buyer_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number_status",
              "displayName": "invoice_number_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_raw_status",
              "displayName": "date_raw_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_name_status",
              "displayName": "vendor_name_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_vat_id_status",
              "displayName": "vendor_vat_id_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id_info_status",
              "displayName": "vendor_vat_id_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch_status",
              "displayName": "vendor_branch_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "net_amount_status",
              "displayName": "net_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "vat_amount_status",
              "displayName": "vat_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "grand_total_status",
              "displayName": "grand_total_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "missing_in_pdf",
              "displayName": "missing_in_pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "missing_in_excel",
              "displayName": "missing_in_excel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "all_ok",
              "displayName": "all_ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1200,
        192
      ],
      "id": "1be45b57-ea12-4a05-8438-aece47fe50c6",
      "name": "Update Invoice Summary",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{$json.body.excelFolder}}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2768,
        -32
      ],
      "id": "882ab40c-aa95-49ad-9c57-bf21b13394bf",
      "name": "Read Excel File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "compare",
        "responseMode": "lastNode",
        "options": {
          "rawBody": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3216,
        240
      ],
      "id": "5f0015c3-82bd-4909-80a3-1066d0c318b0",
      "name": "Webhook",
      "webhookId": "ecb7626f-8968-4654-be8f-555b9f7f12f7"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2096,
        -224
      ],
      "id": "44af7888-b967-4a7e-b0b9-519d1d1df7cf",
      "name": "Merge Comparison Results"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1648,
        192
      ],
      "id": "20d6eaa5-eb2e-4ce5-b384-f8c4a2a53660",
      "name": "Merge Final Results"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $json.body.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "invoice_check_summary",
          "mode": "list",
          "cachedResultName": "invoice_check_summary"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_number": "={{ $json.invoice_number }}",
            "vendor_vat_id": "={{ $json.vendor_vat_id }}",
            "vendor_branch": "={{ $json.vendor_branch }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_status",
              "displayName": "invoice_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "buyer_vat_info_status",
              "displayName": "buyer_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number_status",
              "displayName": "invoice_number_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_raw_status",
              "displayName": "date_raw_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_name_status",
              "displayName": "vendor_name_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_id_status",
              "displayName": "vendor_vat_id_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_vat_info_status",
              "displayName": "vendor_vat_info_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor_branch_status",
              "displayName": "vendor_branch_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "net_amount_status",
              "displayName": "net_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vat_amount_status",
              "displayName": "vat_amount_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "grand_total_status",
              "displayName": "grand_total_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "all_ok",
              "displayName": "all_ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1872,
        -320
      ],
      "id": "49768458-d732-4140-9340-1dee9194fb0b",
      "name": "Insert Missing Invoices",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  -- ===== 1) ข้อมูลจาก Excel (excel_purchase_tax) =====\n  e.invoice_number    AS excel_invoice_number,\n  e.date_raw          AS excel_date_raw,\n  e.doc_title         AS excel_doc_title, \n  e.vendor_name       AS excel_vendor_name,\n  e.vendor_vat_id     AS excel_vendor_vat_id,\n  e.vendor_branch     AS excel_vendor_branch,\n  e.net_amount        AS excel_net_amount,\n  e.vat_amount        AS excel_vat_amount,\n  e.grand_total       AS excel_grand_total,\n  NULL::text          AS excel_name,\n\n  -- ===== 2) ข้อมูลจาก invoices (PDF) =====\n  i.id                AS pdf_id,\n  i.invoice_number    AS pdf_invoice_number,\n  i.date_raw          AS pdf_date_raw,\n  i.doc_title         AS pdf_doc_title,\n  i.vendor_name       AS pdf_vendor_name,\n  i.vendor_vat_id     AS pdf_vendor_vat_id,\n  i.vendor_branch     AS pdf_vendor_branch,\n  i.net_amount        AS pdf_net_amount,\n  i.vat_amount        AS pdf_vat_amount,\n  i.grand_total       AS pdf_grand_total,\n  i.name              AS pdf_name,\n  i.path              AS pdf_path,\n  i.created_at        AS pdf_created_at,\n\n  -- ===== 3) ข้อมูลจาก invoice_check_summary =====\n  s.id                        AS summary_id,\n  s.invoice_id                AS summary_invoice_id,\n  s.invoice_number            AS summary_invoice_number,\n  s.vendor_vat_id             AS summary_vendor_vat_id,\n  s.vendor_branch             AS summary_vendor_branch,\n  s.invoice_status,\n  s.buyer_vat_info_status,\n  s.invoice_number_status,\n  s.date_raw_status,\n  s.vendor_name_status,\n  s.vendor_vat_id_status,\n  s.vendor_vat_id_info_status,\n  s.vendor_branch_status,\n  s.net_amount_status,\n  s.vat_amount_status,\n  s.grand_total_status,\n  s.missing_in_pdf,\n  s.missing_in_excel,\n  s.all_ok,\n  s.updated_at                AS summary_updated_at\n\nFROM {{ $json.body.schema }}.excel_purchase_tax e\nFULL OUTER JOIN {{ $json.body.schema }}.invoices i\n  ON  i.invoice_number = e.invoice_number\n  AND i.vendor_vat_id  = e.vendor_vat_id\n  AND i.vendor_branch  = e.vendor_branch\n  \nLEFT JOIN {{ $json.body.schema }}.invoice_check_summary s\n  ON  s.invoice_number = COALESCE(e.invoice_number, i.invoice_number)\n  AND s.vendor_vat_id  = COALESCE(e.vendor_vat_id,  i.vendor_vat_id)\n  AND s.vendor_branch  = COALESCE(e.vendor_branch,  i.vendor_branch)\n\nORDER BY\n  COALESCE(e.invoice_number, i.invoice_number);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2768,
        576
      ],
      "id": "936c1a00-bd97-43ba-8298-a128b2c6b76c",
      "name": "Fetch Comparison Report",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{ $json.body.schema }}.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2544,
        576
      ],
      "id": "a9c62d9a-071d-4996-b948-e44c78fa1a20",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/{{ $json.body.schema }}.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2096,
        496
      ],
      "id": "f8960b80-c509-45a7-a95b-c41fdb9add87",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n \n// ดึงชื่อโฟลเดอร์สุดท้าย เช่น \"/files/VAT/2568-08/count\" → \"count\"\nfunction extractFolderName(path) {\n  if (!path) return \"default\";\n  const parts = String(path).split('/');\n  for (let i = parts.length - 1; i >= 0; i--) {\n    if (parts[i] && parts[i].trim() !== \"\" && !parts[i].includes('*')) {\n      return parts[i];\n    }\n  }\n  return \"default\";\n}\n \nreturn items.map(item => {\n  const rawBody = item.json.body;\n \n  // แปลง body ให้เป็น object ก่อน (รองรับทั้ง string และ object)\n  let body;\n  if (typeof rawBody === 'string') {\n    try {\n      body = JSON.parse(rawBody);\n    } catch (e) {\n      body = {};\n    }\n  } else {\n    body = rawBody || {};\n  }\n \n  // ใช้ path จาก body.schema\n  const schemaPath = body.schema; // เช่น \"/files/VAT/2568-08/count\"\n \n  // ดึงชื่อโฟลเดอร์สุดท้าย → \"count\"\n  const folderName = extractFolderName(schemaPath);\n \n  // normalize unicode\n  const normalized = folderName.normalize(\"NFC\");\n \n  // แปลงเป็น hex 16 ตัว พร้อม prefix \"s_\"\n  const hashedSchema = \"s_\" + Buffer.from(normalized, \"utf8\")\n    .toString(\"hex\")\n    .slice(0, 16);\n \n  return {\n    json: {\n      ...item.json,\n      headers: {\n        ...item.json.headers,\n        \"content-type\": \"application/json\", // เปลี่ยนให้ตรงกับ output ที่ต้องการ\n      },\n      body: {\n        ...body,\n        schema: hashedSchema, // เขียนทับ schema เดิม\n      },\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2992,
        240
      ],
      "id": "5ceb7b20-cdea-4638-8631-63fd64506a3f",
      "name": "Hash Schema Name"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// update เฉพาะ items ที่มี invoice_number + vendor_vat_id + vendor_branch ครบ\nreturn items.filter(i => {\n  const j = i.json;\n  return (\n    j.invoice_number &&\n    String(j.invoice_number).trim() !== \"\" &&\n    j.vendor_vat_id &&\n    j.vendor_branch\n  );\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        192
      ],
      "id": "6d3e3ba7-10ef-484d-9eb4-03a46b5ffa65",
      "name": "Filter Valid Rows"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $json.body.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "excel_purchase_tax",
          "mode": "list",
          "cachedResultName": "excel_purchase_tax"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_number": "={{ $json.invoice_number }}",
            "date_raw": "={{ $json.date_raw }}",
            "vendor_name": "={{ $json.vendor_name }}",
            "vendor_vat_id": "={{ $json.vendor_vat_id }}",
            "vendor_branch": "={{ $json.vendor_branch }}",
            "net_amount": "={{ $json.net_amount }}",
            "vat_amount": "={{ $json.vat_amount }}",
            "grand_total": "={{ $json.grand_total }}",
            "doc_title": "={{ $json.doc_title }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_raw",
              "displayName": "date_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_title",
              "displayName": "doc_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_vat_id",
              "displayName": "vendor_vat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_branch",
              "displayName": "vendor_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "net_amount",
              "displayName": "net_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "vat_amount",
              "displayName": "vat_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1872,
        -128
      ],
      "id": "b1494db4-2078-4a7b-94b2-2fb54a2a151d",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2320,
        496
      ],
      "id": "b4207f01-0c49-4c63-9a83-6b2c15e39309",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "// Normalize DB rows\nfunction cleanSpaces(s) {\n  return String(s ?? '')\n    .replace(/[\\u00A0\\u1680\\u2000-\\u200D\\u202F\\u205F\\u3000\\uFEFF]/g, ' ')\n    .replace(/[\\t\\r\\n]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction onlyDigits(s) {\n  return String(s ?? '').replace(/\\D/g, '');\n}\n\nfunction normVatId(v) {\n  if (v == null || v === '') return null;\n  let s = onlyDigits(v);\n  if (!s) return null;\n  if (/^0+$/.test(s)) return '0';\n  return s.padStart(13, '0');\n}\n\nfunction normBranch(b) {\n  if (b == null) return null;\n  let s = onlyDigits(String(b));\n  if (!s) return '00000';\n  return s.padStart(5, '0');\n}\n\nfunction normalizeCompanyName(name) {\n  if (!name) return null;\n  let s = cleanSpaces(String(name));\n  s = s.replace(/[“”\"']/g, '');\n  s = s.replace(/\\u200B/g, '');\n  s = s.replace(/\\s+/g, '');\n  return s || null;\n}\n\nconst items = $input.all();\nreturn items.map(item => {\n  const row = item.json;\n  return {\n    json: {\n      ...row,\n      _norm_invoice_number: cleanSpaces(row.invoice_number),\n      _norm_vendor_vat_id: normVatId(row.vendor_vat_id),\n      _norm_vendor_branch: normBranch(row.vendor_branch),\n      _norm_vendor_name: normalizeCompanyName(row.vendor_name)\n    }\n  };\n});\n"
      },
      "id": "106bd272-5a5f-4b84-a7da-a6f392999c99",
      "name": "Normalize DB Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE global.vat_companies RESTART IDENTITY;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2768,
        832
      ],
      "id": "28c4a617-5ce9-482e-8e7e-dbc434736a3e",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "U97z4MVW6z8NDJpd",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "PostmanRuntime/7.49.1",
            "accept": "*/*",
            "cache-control": "no-cache",
            "postman-token": "7d588972-e990-46dc-a81e-be04692b60cd",
            "host": "localhost:5678",
            "accept-encoding": "gzip, deflate, br",
            "connection": "keep-alive",
            "content-length": "113"
          },
          "params": {},
          "query": {},
          "body": {
            "excelFolder": "/home/node/.n8n-files/VAT/2568-08/**/*.xlsx",
            "schema": "/home/node/.n8n-files/count/"
          },
          "webhookUrl": "http://localhost:5678/webhook/compare",
          "executionMode": "production"
        },
        "binary": {
          "data": {
            "data": "ew0KICAiZXhjZWxGb2xkZXIiOiAiL2hvbWUvbm9kZS8ubjhuLWZpbGVzL1ZBVC8yNTY4LTA4LyoqLyoueGxzeCIsDQogICJzY2hlbWEiOiAiL2hvbWUvbm9kZS8ubjhuLWZpbGVzL2NvdW50LyINCn0=",
            "mimeType": "application/json"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Spreadsheet File: Read": {
      "main": [
        [
          {
            "node": "Code: Normalize rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Normalize rows": {
      "main": [
        [
          {
            "node": "Merge Excel and DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Comparison Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Invoices from DB": {
      "main": [
        [
          {
            "node": "Normalize DB Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Logic": {
      "main": [
        [
          {
            "node": "Merge Final Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Excel and DB": {
      "main": [
        [
          {
            "node": "Compare Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Excel File": {
      "main": [
        [
          {
            "node": "Spreadsheet File: Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Hash Schema Name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Comparison Results": {
      "main": [
        [
          {
            "node": "Insert Missing Invoices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Results": {
      "main": [
        [
          {
            "node": "Filter Valid Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Comparison Report": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hash Schema Name": {
      "main": [
        [
          {
            "node": "Merge Comparison Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Excel File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Final Results",
            "type": "main",
            "index": 1
          },
          {
            "node": "Fetch Invoices from DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Comparison Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Rows": {
      "main": [
        [
          {
            "node": "Update Invoice Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize DB Rows": {
      "main": [
        [
          {
            "node": "Merge Excel and DB",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "91957e17-67f4-416a-975f-56839cc19044",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e25b4f0a8e6c0a7984427a0067c1260671f4803f14e4886f5e01dffd5ca1629c"
  },
  "id": "XKPpDihGIV6E6dao",
  "tags": []
}