workflows/InvoiceExtraction.json
{
  "name": "Invoice Extraction",
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-1136, 880],
      "id": "14272617-422d-48ac-a77b-f87ab6bad2bc",
      "name": "Merge Input"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d6c0327d-aa68-4ff4-b5ef-c701a6fa1572",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [-2336, 896]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N8GVxqE9wUbxjInn",
          "mode": "list",
          "cachedResultUrl": "/workflow/N8GVxqE9wUbxjInn",
          "cachedResultName": "Invoice Processing Logic"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [-928, 880],
      "id": "dae4284d-2552-4497-9f1a-ddba73cc2db0",
      "name": "Call 'logic'"
    },
    {
      "parameters": {
        "jsCode": "// 1. เข้าถึงข้อมูล text\nconst rawText = items[0].json.candidates[0].content.parts[0].text;\n\n// 2. Clean Markdown\nconst cleanJson = rawText\n  .replace(/^```json\\s*/, '')\n  .replace(/\\s*```$/, '');\n\n// 3. Parse JSON\nconst parsedData = JSON.parse(cleanJson);\n\n// 4. เอาแค่ item แรกสุด\nreturn [\n  {\n    json: parsedData[0]\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1568, 736],
      "id": "6dc5156c-2dac-400c-9de4-2c0ed59d6407",
      "name": "Clean & Parse AI Output"
    },
    {
      "parameters": {
        "jsCode": "// Code Node: ตรวจสอบความถูกต้องของตัวเลข (Math Validation)\n\nfunction parseAmount(val) {\n  if (val === null || val === undefined || val === \"\") return null;\n  const n = Number(val);\n  return Number.isNaN(n) ? null : n;\n}\n\n// แปลงเป็นหน่วยสตางค์ (x100) เพื่อแก้ปัญหาทศนิยมเพี้ยน\nfunction toCents(n) {\n  return n == null ? null : Math.round((Number(n) + 1e-10) * 100);\n}\n\n// แปลงกลับจากสตางค์เป็นบาท\nfunction fromCents(c) {\n  return c == null ? null : Number((c / 100).toFixed(2));\n}\n\nconst equalCents = (a, b) => (a != null && b != null && a === b);\n\n// ===== ฟังก์ชันตรวจสอบหลัก =====\nfunction validateOne(j) {\n  // 1. รับค่าจาก JSON มาแปลงเป็นตัวแปร (ตั้งชื่อตาม JSON Key + _cents)\n  const net_amount_cents = toCents(parseAmount(j.net_amount));\n  const vat_amount_cents = toCents(parseAmount(j.vat_amount));\n  const grand_total_cents = toCents(parseAmount(j.grand_total));\n  const vatable_amount_cents = toCents(parseAmount(j.vatable_amount));\n  const vat_exempt_amount_cents = toCents(parseAmount(j.vat_exempt_amount)) || 0; \n  const vatable_inclusive_total_cents = toCents(parseAmount(j.vatable_inclusive_total));\n\n  const out = {\n    amount_ok: false,\n    amount_reason: \"\",\n    \n    // Status Flags\n    vat_status: null,              \n    grand_total_status: null,\n    inclusive_status: null,       \n    net_status: null,              \n\n    // Calculated Values (ค่าที่คำนวณได้)\n    calc_vat: null,\n    calc_grand_total: null,\n    calc_inclusive: null,\n    calc_net: null\n  };\n\n  // ถ้าไม่มียอดฐานภาษี (Vatable) จะคำนวณต่อไม่ได้\n  if (vatable_amount_cents == null) {\n    out.amount_reason = \"ไม่พบยอดฐานภาษี (Vatable Amount)\";\n    return out;\n  }\n\n  // --- 1. ตรวจสอบ VAT (Vatable * 7%) ---\n  const expected_vat_cents = Math.round(vatable_amount_cents * 0.07);\n  out.calc_vat = fromCents(expected_vat_cents);\n  \n  if (vat_amount_cents != null) {\n    out.vat_status = equalCents(expected_vat_cents, vat_amount_cents);\n    if (!out.vat_status) {\n      out.amount_reason += `VAT Rate Error: ${fromCents(vatable_amount_cents)} * 7% ควรเป็น ${fromCents(expected_vat_cents)} แต่ได้ ${fromCents(vat_amount_cents)}. `;\n    }\n  }\n\n  // --- 2. ตรวจสอบ Grand Total (Net Amount + VAT) ---\n  if (net_amount_cents != null && vat_amount_cents != null && grand_total_cents != null) {\n     const expected_grand_total_cents = net_amount_cents + vat_amount_cents;\n     out.calc_grand_total = fromCents(expected_grand_total_cents);\n     out.grand_total_status = equalCents(expected_grand_total_cents, grand_total_cents);\n\n     if (!out.grand_total_status) {\n        out.amount_reason += `Grand Total Error: ${fromCents(net_amount_cents)} + ${fromCents(vat_amount_cents)} ควรเป็น ${fromCents(expected_grand_total_cents)} แต่ได้ ${fromCents(grand_total_cents)}. `;\n     }\n  }\n\n  // --- 3. ตรวจสอบ Inclusive Total (Vatable + VAT) ---\n  // เช็คว่ายอดรวมที่มี VAT (เฉพาะสินค้ามีภาษี) ถูกต้องไหม\n  if (vat_amount_cents != null && vatable_inclusive_total_cents != null) {\n    const expected_inclusive_cents = vatable_amount_cents + vat_amount_cents;\n    out.calc_inclusive = fromCents(expected_inclusive_cents);\n    out.inclusive_status = equalCents(expected_inclusive_cents, vatable_inclusive_total_cents);\n    \n    if (!out.inclusive_status) {\n      out.amount_reason += `Inclusive Error: ${fromCents(vatable_amount_cents)} + ${fromCents(vat_amount_cents)} ควรเป็น ${fromCents(expected_inclusive_cents)} แต่ได้ ${fromCents(vatable_inclusive_total_cents)}. `;\n    }\n  }\n\n  // --- 4. ตรวจสอบ Net Amount (Vatable + Exempt) ---\n  // เช็คยอดรวมก่อนภาษี (สินค้ามี VAT + สินค้าเว้น VAT)\n  const expected_net_cents = vatable_amount_cents + vat_exempt_amount_cents;\n  out.calc_net = fromCents(expected_net_cents);\n  \n  if (net_amount_cents != null) {\n    out.net_status = equalCents(expected_net_cents, net_amount_cents);\n    if (!out.net_status) {\n       out.amount_reason += `Net Amount Error: ${fromCents(vatable_amount_cents)} + ${fromCents(vat_exempt_amount_cents)} ควรเป็น ${fromCents(expected_net_cents)} แต่ได้ ${fromCents(net_amount_cents)}. `;\n    }\n  }\n\n  // สรุปสถานะ (Passed ทั้งหมดไหม?)\n  const checks = [\n      out.vat_status, \n      out.grand_total_status, \n      out.inclusive_status, \n      out.net_status\n  ];\n  \n  out.amount_ok = !checks.includes(false);\n  \n  if (out.amount_ok && out.amount_reason === \"\") {\n      out.amount_reason = \"ผลรวมและอัตราภาษีถูกต้องทั้งหมด\";\n  }\n\n  return out;\n}\n\n// ===== Main Loop =====\nconst itemsIn = $input.all();\nconst out = [];\n\nfor (const it of itemsIn) {\n  const j = { ...(it.json || {}) };\n  const v = validateOne(j);\n\n  out.push({\n    json: {\n      ...j,\n      amount_ok: v.amount_ok,\n      amount_reason: v.amount_reason,\n      \n      vat_calculate_status: v.vat_status,\n      grand_total_calculate_status: v.grand_total_status,\n      vatable_inclusive_calculate_status: v.inclusive_status,\n      net_amount_calculate_status: v.net_status,\n\n      // --- ค่าที่คำนวณได้ (Suggestion) ---\n      vat_calculate: v.calc_vat,\n      grand_total_calculate: v.calc_grand_total,\n      \n      // --- ค่าคำนวณใหม่ ---\n      vatable_inclusive_calculate: v.calc_inclusive,\n      net_amount_calculate: v.calc_net\n    },\n    pairedItem: it.pairedItem\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1392, 736],
      "id": "9c5cc6e2-eac6-4410-881d-8d686ea8f2c1",
      "name": "Validate Amounts1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Role: Expert Thai Invoice OCR & Data Normalization AI. Task: Process the input data to validate, clean, calculate, and standardize it into a PERFECT JSON format.\n\nInput Data:\n{{ JSON.stringify($json) }}\n\nProcessing Rules (Strictly Follow):\n1. Text Extraction & Language Priority\nGeneral: Extract text exactly as seen, but prefer Thai text if both Thai and English are present (especially for doc_title, names, and addresses).\n\nVAT ID: Extract only the 13-digit numeric string. \n   - Context Clue: It is usually located immediately after the keywords \"เลขประจำตัวผู้เสียภาษี\" or \"เลขประจำตัวผู้เสียภาษีอากร\".\n\n2. Address Standardization (buyer_address_raw)\n\nRemove: Company names, Recipient names, \"Tel.\", \"Fax.\", \"Tax ID\", and phone numbers.\n\nFormatting (Critical):\n\nRoad: Always use \"ถ.\" (not \"ถนน\").\n\nSub-district: Use \"ต.\" (not \"ตำบล\").\n\nDistrict: Use \"อ.\" (not \"อำเภอ\").\n\nProvince: Use \"จ.\" (not \"จังหวัด\").\n\nBangkok Special Case: Use \"แขวง\" and \"เขต\" normally. Use \"ถ.\" for road. Use \"กรุงเทพมหานคร\".\n\nMoo: Use \"หมู่\" followed by the number.\n\nSpacing: Ensure exactly ONE space between components.\n\nExample: \"35/3 หมู่ 5 ถ.เศรษฐกิจ 1 ต.คอกกระบือ อ.เมืองสมุทรสาคร จ.สมุทรสาคร 74000\"\n\n3. Name & Branch Standardization\nNames (vendor/buyer): Expand abbreviations like \"บจก.\" or \"บ.\" to \"บริษัท ... จำกัด\" (Full Legal Name). Remove leading/trailing spaces.\n\nBranch Codes (vendor/buyer):\n\nMust ALWAYS be a 5-digit string.\n\n\"HQ\", \"Head Office\", \"สำนักงานใหญ่\", or null -> \"00000\".\n\n\"Branch 1\", \"สาขาที่ 1\" -> \"00001\".\n\nAction: Pad with leading zeros (e.g., \"23\" -> \"00023\").\n\n4. Date Formatting (Advanced Extraction)\n- date_raw: strictly \"DD/MM/YYYY\".\n- Macro/CP Axtra Logic: If not explicitly found, look at \"TRACE\" or \"REF NO\". \n  - Trace format is often YYMMDDhhmmss. If you see \"250803...\", it means 03/08/2025 (convert BE 2568 to AD 2025).\n  - Check the promotional text (e.g., \"ถึง 5 ส.ค. 68\") to confirm the year.\n\n5. Financial Logic & Calculation (Math-First Strategy)\nData Types: All amounts must be raw JSON Numbers. **NEVER use thousands separators (commas) in the output.** - Correct: 146055.00\n   - Wrong: 146,055.00\n   - Returns 0.00 if missing.\n\nExtraction Algorithm (Execute in this exact order):\n\n1. Find 'vat_amount':\n   - Extract the explicit tax amount from the summary table (usually the generated VAT, e.g., 54.76).\n\n2. Determine 'vatable_amount' (The Tax Base):\n   - Calculate a 'target_base' using the formula: target_base = vat_amount * (100 / 7).\n   - Look at the pre-tax amounts (Legal Amounts) in the summary table.\n   - The amount that is CLOSEST to 'target_base' MUST be assigned to 'vatable_amount'.\n   - (Example: If vat_amount = 54.76, target is ~782. So if you see 782.24, select it).\n\n3. Determine 'vat_exempt_amount':\n   - Identify the other pre-tax amount that was NOT selected as vatable_amount.\n   - This remaining amount is the 'vat_exempt_amount'.\n\n4. net_amount: Sum of vatable_amount + vat_exempt_amount.\n\n5. Extract 'vatable_inclusive_total' (Specific Logic for Makro/Lotus):\n   - Locate the **VAT Summary Table** (usually at the bottom).\n   - Find the specific row where the **VAT Rate is 7%** (Look for \"7.00\", \"VAT Code 2\", or \"Vatable\").\n   - Extract the value from the **\"Total\" (รวม)** column in that SAME row.\n   - Validation: The value MUST be equal to vatable_amount + vat_amount.\n   - Example from input: In the row containing \"782.24\" and \"54.76\", extract \"837.00\".\n\n6. grand_total: The final total payment (should equal net_amount + vat_amount).\n\nValidation Rule:\nIf 'vat_amount' > 0, then 'vatable_amount' MUST be greater than 'vat_amount'. If you picked a number smaller than the tax (like 7.00), you picked the rate, retry using the logic above.\n\n6. grand_total: The final total payment (should equal net_amount + vat_amount).\n\nValidation Rule:\nIf 'vat_amount' > 0, then 'vatable_amount' MUST be greater than 'vat_amount'. If you picked a number smaller than the tax (like 7.00), you picked the rate, retry using the logic above.\n\n6. Document Validation (doc_title & has_invoice)\ndoc_title: Keep ONLY Thai text. If English only, translate to \"ใบกำกับภาษี\".\n\nhas_invoice (Boolean):\n\nSet to false IF title contains: \"อย่างย่อ\" (Abbreviated), \"สำเนา\" (Copy), OR does NOT contain \"ใบกำกับภาษี\".\n\nSet to true ONLY IF title contains \"ใบกำกับภาษี\" AND is NOT a Copy/Abbreviated.\n\n7. Invoice Number Extraction (Required)\nInstructions: Extract the invoice number based on the following priority. This field must not be empty.\n\nPrimary Source: Look for labels like \"เลขที่ใบเสร็จ\" or \"INV NO\".\n\nSecondary Source (Fallback): If the primary labels are missing, look for \"REF NO\".\n\nSpecific Rule for CP Axtra: If the \"REF NO\" is a long string (e.g., \"000021020834012731000003844\"), extract the substring \"0834012731\". If you cannot identify the specific substring, extract the full REF NO.\n\nStrict Constraint: If no obvious invoice/ref number is found, look for any unique numeric or alphanumeric string at the top-right or header section of the document. Do not return \"N/A\", null, or an empty string.\n\nOutput JSON Structure:\n\n[\n  {\n    \"doc_title\": \"String\",\n    \"invoice_number\": \"String|null\",\n    \"date_raw\": \"DD/MM/YYYY\",\n    \"vendor_name\": \"String\",\n    \"vendor_vat_id\": \"String\",\n    \"vendor_branch\": \"00000\",\n    \"buyer_name\": \"String\",\n    \"buyer_vat_id\": \"String\",\n    \"buyer_branch\": \"00000\",\n    \"buyer_address_raw\": \"String (Cleaned)\",\n    \"vat_exempt_amount\": Number,\n    \"vatable_amount\": Number,\n    \"vat_amount\": Number,\n    \"vatable_inclusive_total\": Number,\n    \"net_amount\": Number,\n    \"grand_total\": Number,\n    \"has_invoice\": Boolean\n  }\n]"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "id": "f399a702-d728-4a08-a5e7-e12afd374fa0",
      "name": "Gemini Chat",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [-1856, 736],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "googlePalmApi": {
          "id": "Ind0q5wLm5LOwGoI",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "text": "# Instruction\nTranscribe the attached invoice document into structured Markdown format immediately. \n\n# Rules\n1. OUTPUT ONLY the Markdown content. Do not include any introductory text, greetings, or explanations.\n2. Preserve all tables, columns, and rows exactly as they appear in the image.\n3. Represent the tax summary table (at the bottom) with high precision.\n4. Maintain all Thai and English text exactly as written.\n5. STRICTLY PROHIBITED: Do not interpret values, do not convert currencies, and do not summarize. Just transcribe what you see.\n6. If a section is unreadable, mark it as [Unclear].\n\n# Execution\nAnalyze the provided document and generate the Markdown output now.",
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "id": "c4a12a27-b291-4782-9ef7-4c2df5cc8001",
      "name": "Analyze Document (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [-2032, 736],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "googlePalmApi": {
          "id": "c1SgChN1d7FfPADP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Merge Input": {
      "main": [
        [
          {
            "node": "Call 'logic'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 1
          },
          {
            "node": "Analyze Document (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Parse AI Output": {
      "main": [
        [
          {
            "node": "Validate Amounts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Amounts1": {
      "main": [
        [
          {
            "node": "Merge Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat": {
      "main": [
        [
          {
            "node": "Clean & Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Document (Gemini)": {
      "main": [
        [
          {
            "node": "Gemini Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32463a4f-fff7-4861-be4e-d098c5e5ca67",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e25b4f0a8e6c0a7984427a0067c1260671f4803f14e4886f5e01dffd5ca1629c"
  },
  "id": "WKlvPCyp9aKNMs7j",
  "tags": []
}
